<header class="body__header header__skeleton js-floatWrapper">
    <div class="js-floatMenu cms-banner-color">
        <div class="size1of1 seg-bar">
            <span class="js-seg-bar__logoSelect seg-bar__logoSelect">
                    <a href="https://www.robins.vn/?from=header">
        <svg xmlns="http://www.w3.org/2000/svg" class="zalora-logo zalora-logo--white pts">
            <image id="image0" width="203" height="30" x="0" y="0" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMsAAAAeCAAAAACnY7VzAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZ
cwAACxIAAAsSAdLdfvwAAAAHdElNRQfhBQoNKh9cKl8dAAAJ/0lEQVRYw52Ye5SVZRXGf8/7fecy
Z2a4Cw5IEiGKgmWAimUJ1ipttVRExQWUlSJYKZaruHQh72gWii4rFXR5WSqZZZYrzfCGLUhL0Mwr
LBQD5TbDMJdz+d7dH9+ZmfPNOYPS+9d8c97Ls/ez97P3+2rU5yIvTG7H3m2+VABMMhPdQwaYMJfN
jh93kIu2btycL0TOqDV80/gAVNy5pVgqYMJUuVk8LHNyRLh+h9S9SXmSjWve3mtyKg2dUfVJrhRm
ssOCD9oKRYEJTXuyZ6NN/3hi/btB77Pjzygcc9L0SV2An3ro+Xd9aNUoKZ51W7zItj712L+2pXr/
LjPhh78MzHosqNrAdr77tY2SdXvK8rOWEH3vadd7ous89OTZk4BNjzyywQGEEYBiyKNHn/3PO1cX
emGUCQqHXDj9kG6j3bRprz2wqiWs8Gv37FJ7Ll40cs6cZ3/9cK58cjc2nIEHiOKDkxD3jfz5t7bS
s6/z/Q8RddWsdHxm6fEG2OgFM5ffkgVc924yQBNvuDhjiSMEaO/Jv7v4kMSZR/z4t4fl8dXE4IHy
Fp+96ZttgJDvWWkq21AzSD0T70hV/GKuJMxXzSsdef1xCEPGwVde3gqEHuC05szAUUedMAZIL37p
aa8KjGaidd41Obxj1+q1Wz8YPnrqGWnhJj5+xgt11XjMYTsWvNV03IyxpkGXvPB6gKciuZyvCOJq
XgPTp/94Uq4bQAylOjnDsydg2vT7wuenQHhR8Wc5c8LgtVde/OvtF088fk0EtihMZIxQcebVOdDm
8z++8M8bP3hp9dwRi/aABjw4sVRtigz5fW88d90JyyL8mK9EBs73hLs5L7PYEFXzakKTVkeq+C5z
mRxDTwI9OvnyZafMaTEypx8TOVf2jXMulX79y7eCjhleudTMRRN+Uo8VVp3wYDblHIQZbjn2jx6G
3NBUnS+xPQpTXPsXczZhoENWEU+KY8zAO1PNOLNTrgwS/3DVcxpHQP7KUjpIP/LtlsIT520IcLFo
CgPCxp/sAY4vqfJoq5v3cbBrf1jIGGbCUGbnvNvN9Omvp2phEeCh+NeiqamfR5WYTXEKliWt9vrz
5yWNqzEnBZZ3Jks9esXCc/+TxZyhOIXApOgdoM4nNz58FrByuXdAWbkUdvx0jdBFQ6q0qOfT7YpE
OuyG3w2sG1ptWjogtWRmgf2Oju2QntsOuPCeVRaW2bPYcHMmPxrIJyn1FxpsX+xcAnaQn2/QMMN6
O826LFLpEynY086Bjgceg9SKL+/fmPfXgZs9t4CZ86GjbItiB8msdHGjwYvJYNWZMq4oOEtyHfz3
ZrBzq9QylluPt8PPDI03d6tPAvoY6VkvYNxzbGl/kzr/8D40rPhBvdSlJTEFhWKhkPeNhy28CvHW
26o420qTA1R8MG3qhSh9B6bDBvoaON3gkSPHz7h/vNH8eB66a+xHGz6c9apIPTBhf8YET97Yjliy
crxhEkCICTurOdWQG/yxSU0AP4/M9WilognAWufN+QQic+9ta0KfXCOX4MvLNGDx3uzQoYIdy57M
eHcgpADO7/zOqkMZdOsFr4V9L83d2LZkKEybtOL23WlMECJDS82lugLrzj+ZswoK/GBMbxoyyags
c9p8MBoapcwq0cqL1Nh4WlTYbaXgAE3BxIZL78lx1C9mN/fNp8/d+fLSE0Xjkinf3xI4Ayck6nLZ
sinR1Ys7zHA9aeA8ZRlSpR6Z5PISTh5XJZrlaeGI2+4adICmGEL62yXA8av2uza94bwVhpj257He
AFehQ/mO95Yfsawokeiz2sGayiWwAq3hhwPNUq+yLLC2lpaW1o4IhaddX99H59UnKYBL3XcFcOLd
faaMOeH2Lvr6LqDp2SMiwIGwf7SA5ZdNHbt4TxosKb6vgI51RgypQhUaDwdeC3qLlBnbTx0wePCR
p9/4KnDGnAIHkPnlawz1y36DceoNzlPuFXrNM8OUe+jkdUBq9dCorGP6wrWYwlGbsvVClszV4EWw
g47rCroeOcufDezZ7PCuLCTlEBGuccDAge3rF834PbB0RI2L1Ifzk1v6oOAbC4JkRJh6aBbktsy8
32D45ZF1afLd94pg1gUCvCxRFbXvL8iu7nauzJwAy16GcX8A8s56Snn5QMMF/bYv+gCCmcUDkuTy
8PkfrzV02SzroQtwvnyfUJy+YeuPHsWYcrTHyTBzHZdvhGDJJIO4N6ugJliB6cjF+2Jm5J15E+y7
YQiy+2QoIdVx6yiBI2hZB5pclD9gY6Rgx7z/QuoXX4CK+0/cO8qsEMUe1O6V22WDj/JyXibhti9o
gdxvBpjwvUqb/v24YMH0nj7dmac07yzg3i0E5itjoNymxj1oV4dszn80CypowYfvnLUP6k4B+URb
JXw4YuXd9eVtX99hqjvIe1fuLNPPL/TGx24JPUocLfm9y/dA7uYZQRTjwyzKnn9lnfHO7W1ETknj
TXFSmcxSR5vodL2wfCRekM9snNNW3rKiHZVh/rvrp586PfIOsKH9ZYVW51xMm6fx7msEX1pSsOTL
iTe59Vd5GHDTdVMKHflSVCrsi6b+8roGU+GaDU6yKsU1mSRFxcLcUTLWBAfWj3UNZ3VrLu2Mk6MH
j7wkf3TGuP7c9gJWDGaOhOY3sRAQ5oy6W0fNgrmbftWQcLPMee7KXIXSX/vi60+9uG37iOGTP3fY
MBALVwcyqKGX7fsC83Unzv8iqOW36f/LFhmkHm76qUu0pgKM1GXjxuCum3jLK5kp808V+ve6FGHZ
k0Dn9WMnk/neq+vD5NuFCX793konmg7+bMG8c6kQIH/Oc+oDY/8FMwYN6DemMSNgfr53X/ChhsUX
YwBuHjMnWbpjcLu/81A9DefNLCmVFeR/UAqd61E8bV62A0YuHNb7cmUyPfKp5yNMQa6+sT4bAqU1
xzxbfhuqHnVfnX/Ol6YMyQr8pU9U5cqHJU/iueGStb6W9esu2mUE9f371QnyM94MZc4BeCGR+tPy
CKYuSCeWmslEsPWUbzz9XqEcvIUtT37zjG1OtQq6S8WuNwS71p69qhdOwGLRd7XKeQhBct9zXjZV
96fh6tnP7Ir/bH7mxKfTDsLWv7eRDs0wR8NNBx/lGTfyjUrHld8BAz386ORxY4b1d1Hrtrc3vFTK
uJrNvLY9njUB8kHz2y8815pOvsMKGS7/TIG6HdTY4on6cCMV9UhB2+xrs+9XO61h7Yypkz/R6Fo2
/fNvnVlvSMMGeNzO+B5vSvUzU7GlsvpZEAlzJrPIu34Z5zvaS4HrK1VIN5jz8fNEZzOhynfWCmIE
bqCZ21usEV6DpM62+J2mK958Y6a1UCMCrOga68jvjVJx36Uh5uLCJnBRfF1OUm/OO3zZnl7BXNMe
eWEQdD1yJe9DMh/67qfwGhBlVBDTpwJa192721f/A5LDjt/3ORknAAAAJXRFWHRkYXRlOmNyZWF0
ZQAyMDE3LTA1LTEwVDEzOjQyOjMxKzA3OjAwh0o9nwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNy0w
NS0xMFQxMzo0MjozMSswNzowMPYXhSMAAAAASUVORK5CYII="></image>        </svg>
                </a>
                <i class="platform_icon_default mll mbs mrl"></i>
        <i class="platform_icon_hover mll mbs mrl hidden"></i>
    </span>
            <span class="phl seg-bar__segments">
        <ul>
                                        <li class="segSelect fontsizeL txtCenter prl js-header__segment-women">
                    <a class="a-white b-header__clickable b-header__segment-text txtUpper" href="https://www.robins.vn/women/?from=header">Nữ</a>
                </li>
                                            <li class="segSelect fontsizeL txtCenter prl js-header__segment-men">
                    <a class="a-white b-header__clickable b-header__segment-text txtUpper" href="https://www.robins.vn/men/?from=header">NAM</a>
                </li>
                                            <li class="segSelect fontsizeL txtCenter prl js-header__segment-kids">
                    <a class="a-white b-header__clickable b-header__segment-text txtUpper" href="https://www.robins.vn/kids/?from=header">TRẻ EM</a>
                </li>
                            </ul>
    </span>
            <span class="js-seg-bar__search seg-bar__search ptl pbl">
                    <form id="onsiteSearch" action="https://www.robins.vn/catalog/" method="get" autocapitalize="on" autocorrect="on">
            <input class="lfloat js-seg-bar-search__selSearchInput seg-bar-search__selSearchInput" name="q" type="text" placeholder="Tìm kiếm - ví dụ: Sneakers, Đầm, Nike" autocomplete="off">
            <select id="search-gender-select" class="js-search-gender-select">
                <option value="men">Nam</option>
                <option value="women">Nữ</option>
                <option value="kids">Trẻ Em</option>
            </select>
            <button class="rfloat seg-bar-search__selSearchButton" type="submit">
                <i class="icon_loupe-dark"></i>
                <span class="hdSearchButton"></span>
            </button>
            <div class="js-searchsuggest__popup searchsuggest__popup display-none"></div>
            </form>
            </span>
            <span class="seg-bar__utils rfloat txtCenter ptl pll">
        <ul>
            <li class="utils pll">
                <!-- ACCOUNT DROPDOWN START-->
                                    <i class="js-seg-bar__account seg-bar__account icon_user"></i>
                                <div class="account-menu__popup txtLeft  b-header-shadow" style="display:none">
                    <div class="account-menu__head pal pts txtUpper fontsizeM">
                        Xin chào!                    </div>
                    <div class="account-menu__body phl pal fontsizeS txtUpper">
                        <ul role="menu" aria-labelledby="dLabel">
                                                <li class="pbm">
                                <a class="" href="https://www.robins.vn/customer/account/login/?from=header" title="Đăng nhập" rel="follow">
                                    Đăng nhập                                </a>
                            </li>
                            <li class="pbm">
                                <a href="https://www.robins.vn/customer/account/create/?from=header" title="Đăng ký" rel="follow">
                                    Đăng ký                                </a>
                            </li>
                            <li class="pbm">
                                <a href="https://www.robins.vn/#boxTrackOrder" class="js-trackOrder" data-toggle="modal" data-target="#boxTrackOrder">
                                    Theo dõi đơn hàng                                </a>
                            </li>
                                                                                    <li class="pbm">
                                <a href="https://support.robins.vn/hc/vi" target="_blank" title="Trợ giúp" rel="follow">
                                    Trợ giúp                                </a>
                            </li>

                    
                                                    </ul>
                    </div>
                </div>
                <!-- ACCOUNT DROPDOWN END-->
            </li>
            <li class="seg-bar__wishlistIcn utils pll">
                    <a class="js-seg-bar__wishlist seg-bar__wishlist icon_favourites" href="https://www.robins.vn/customer/wishlist/?from=header">
                        <div class="seg-bar__wl-count js-seg-bar__wl-count"></div>
                    </a>
                    <div class="wl-info__popup b-header-shadow" style="display:none">
                        <div class="wl-info__head pal pas txtUpper fontsizeM">
                            Bạn có <div class="js-seg-bar__wl-count b-header__text-selected"></div> sản phẩm yêu thích                        </div>
                    </div>
            </li>
            <!--MINI CART START-->
            <li class="utils pll js-headBag" id="shoppingBagBlock">
                    <a class="js-seg-bar__cart icon_bag" href="https://www.robins.vn/cart/?from=header">
    <div class="seg-bar__mini-cart-count js-seg-bar__mini-cart-count" id="shopping-bag-qty"></div>
</a>
<div class="minicart__popup js-shoppingBag txtLeft b-header-shadow" style="display:none">
    <div class="minicart__head pal pts txtUpper txtLeft fontsizeM">
        Giỏ hàng <div class="js-seg-bar__mini-cart-count-dropdown">0</div> Sản phẩm    </div>
    <div id="js-minicart-message-content">
            </div>
        </div>
            </li>
            <!--MINI CART END-->
        </ul>
    </span>
        </div>
        <!--CATALOGUE DROPDOWN START-->
        <div class="shop-select-bar ui-border b-header-shadow" id="logo-select-box" style="display:none">
            <div class="b-header-bar b-header-bar-catalogue">
                <ul class="b-header-ul">

                    <li class="size1of3 ctl-primary-type-link shop-select txtCenter js-shop-select mrl selected" data="mainshop">
                        <a href="https://www.robins.vn/?from=header" class="b-header-no-underline">
                            <div class="seg-bar__catalogue-banner-full-width">
                                <img data-load="lazy" data-url="https://static-cf-vn.thezalora.space/cms/20170512-navigationbar-01.png" width="324" height="125"
                                    src="assets/20170512-navigationbar-01.png"> </div>
                            <div class="seg-bar__catalogue-banner pam">
                                <style>
                                    li[data=mainshop] {
                                        padding-top: 18px !important;
                                        background: white !important;
                                    }
                                </style>
                                <img data-load="lazy" data-url="https://static-cf-vn.thezalora.space/cms/20170512-opt_ZALORAxRobins-01-optimized.png" width="105"
                                    height="28" src="assets/20170512-opt_ZALORAxRobins-01-optimized.png">                                </div>
                            <div class="phl pbl">
                                Thời trang trực tuyến hàng đầu Việt Nam - Nơi bạn tìm thấy những phong cách và thương hiệu mới nhất! </div>
                        </a>
                    </li>

                    <li class="size1of3 ctl-primary-type-link shop-select txtCenter js-shop-select mrl" data="outlet">
                        <a href="https://www.robins.vn/top-deals/?from=header" class="b-header-no-underline">
                            <div class="seg-bar__catalogue-banner-full-width">
                                <img data-load="lazy" data-url="https://static-cf-vn.thezalora.space/cms/20170512-navigationbar-02optimized.jpg" width="324"
                                    height="125" src="assets/20170512-navigationbar-02optimized.jpg">                                </div>
                            <div class="seg-bar__catalogue-banner pam">
                                <img data-load="lazy" data-url="https://static-cf-vn.thezalora.space/cms/20170512-opt_ZALORAxRobins-02-optimized.png" width="105"
                                    height="28" src="assets/20170512-opt_ZALORAxRobins-02-optimized.png">                                </div>
                            <div class="phl pbl">
                                Nhanh tay sở hữu ngay những ưu đãi và sản phẩm giảm giá trước khi hết hàng! </div>
                        </a>
                    </li>

                    <li class="size1of3 ctl-primary-type-link shop-select txtCenter js-shop-select mrl" data="magazine">
                        <a href="https://robins.vn/magazine/?from=header" class="b-header-no-underline">
                        </a>
                        <div class="seg-bar__catalogue-banner-full-width">
                            <a href="https://robins.vn/magazine/?from=header" class="b-header-no-underline">
                            </a>
                            <a href="https://magazine.robins.vn/" target="_blank">
                                <img data-load="lazy" data-url="https://static-cf-vn.thezalora.space/cms/20170512-navigationbar-03-optimized.jpg" width="324" height="125" src="assets/20170512-navigationbar-03-optimized.jpg">
                            </a>
                        </div>
                        <div class="seg-bar__catalogue-banner pam">
                            <img data-load="lazy" data-url="https://static-cf-vn.thezalora.space/cms/20170512-opt_ZALORAxRobins-03-optimized.png" width="105"
                                height="28" src="assets/20170512-opt_ZALORAxRobins-03-optimized.png">                            </div>
                        <div class="phl pbl">
                            Làm chủ những phong cách và xu hướng thời trang mới nhất với Tạp Chí ROBINS. Xem Ngay! </div>

                    </li>
                </ul>
            </div>
        </div>
        <!--CATALOGUE DROPDOWN END-->
    </div>
    <!-- CATEGORY BAR -->
    <div class="b-header__category-bar js-floatMenu js-header__category-bar" style="display: none;">
    </div>
</header>