<footer id="footer" class="ptl mtl">
    <hr>
    <div id="upperFooter" class="l-pageWrapper left ftMetas box">
        <div class="b-footer__links">
            <div class="ftServices lfloat box size1of4">
                <h4 class="ui-borderBottom pbs mbs footerTitleText">Hỗ trợ khách hàng</h4>
                <div class="unit size1of2" style="width: 100%;">
                    <ul>
                        <li><a href="http://support.robins.vn/hc/vi" title="Hỏi đáp" target="_blank">Hỏi Đáp</a></li>
                        <li><a href="http://support.robins.vn/hc/vi/requests/new" title="Liên hệ" target="_blank">Liên Hệ</a></li>
                        <li><a href="http://support.robins.vn/hc/vi/articles/205632134-Ph%C3%AD-v%E1%BA%ADn-chuy%E1%BB%83n" title="Biểu phí giao hàng"
                                target="_blank">Biểu Phí Giao Hàng</a></li>
                        <li><a href="https://www.robins.vn/product-index/" title="Danh mục sản phẩm">Danh Mục Sản Phẩm</a></li>
                        <li><a href="https://www.robins.vn/gift-card-special/" title="Thẻ quà tặng">Thẻ quà tặng</a></li>
                    </ul>
                </div>



                <script>
                    $(function () {
                        if (typeof (dataLayer) !== "undefined" && dataLayer[0].Page_Type == "homepage" || dataLayer[0].Page_Type == "segment") {
                            $("#jsGfgLogo").removeClass("cms-gfg-logo").addClass("cms-gfg-logo-hp-segment");
                        }
                    });
                </script> <a href="https://www.robins.vn/#boxTrackOrder" class="js-trackOrder anchor-no-jump modal-overflow in"
                    data-toggle="modal" data-target="#boxTrackOrder">Kiểm Tra Đơn Hàng</a>
            </div>
            <div class="ftAdvantages lfloat box size1of4">
                <h4 class="ui-borderBottom pbs mbs footerTitleText">About Robins</h4>
                <style>
                    .cms-ct-logo {
                        position: absolute;
                        margin-top: 20px
                    }

                    .cms-align-logo-with-bap {
                        padding-top: 10px
                    }

                    .tracking-form__body button {
                        width: 230px!important
                    }

                    #international ul {
                        overflow: hidden
                    }

                    #international li {
                        float: left;
                        padding-right: 6px;
                        height: 25px;
                        overflow: hidden
                    }

                    #international .company {
                        background-image: url(https://static-cf-vn.thezalora.space/cms/test/group_company_logos1.png);
                        background-size: 301px 25px;
                        background-color: transparent;
                        height: 32px;
                        display: inline-block;
                        vertical-align: bottom
                    }

                    .bigc {
                        width: 21px
                    }

                    .centara {
                        background-position: -250px;
                        width: 50px
                    }

                    .cdiscount {
                        background-position: -201px;
                        width: 46px
                    }

                    .lanchi {
                        background-position: -120px;
                        width: 80px
                    }

                    .robins {
                        width: 24px;
                        background-position: -94px
                    }

                    .nguyen-kim {
                        background-position: -25px;
                        width: 68px
                    }
                </style>
                <ul>
                    <li><a href="https://www.robins.vn/ve-chung-toi/" title="Về Chúng Tôi">Về Chúng Tôi</a></li>
                    <!--<li><a href="/partner/" title="Chương Trình Affiliate">Chương Trình Affiliate</a></li>-->
                    <li><a href="https://www.robins.vn/careers/" title="Tuyển Dụng">Tuyển Dụng</a></li>
                    <li><a href="https://www.robins.vn/sell-with-us/" title="Bán hàng cùng ROBINS">Bán hàng cùng ROBINS</a></li>
                    <li><a href="https://www.robins.vn/dieu-khoan-dieu-kien/" title="Điều Kiện &amp; Điều Khoản">Điều Kiện &amp; Điều Khoản</a></li>
                    <li><a href="https://www.robins.vn/quy-che-quan-ly/" title="Quy Chế Quản Lý Hoạt Động">Quy Chế Quản Lý</a></li>
                    <li><a href="https://www.robins.vn/chinh-sach-bao-mat/" title="Chính Sách Bảo Mật">Chính Sách Bảo Mật</a></li>
                    <li><a href="https://magazine.robins.vn/" title="Cộng Đồng Thời Trang">Cộng Đồng Thời Trang</a></li>
                    <li><a href="https://www.robins.vn/bao-chi-truyen-thong/" title="Báo Chí Truyền Thông">Báo Chí Truyền Thông</a></li>
                    <li><a href="https://www.robins.vn/showroom/" title="ROBINS Showroom">ROBINS Showroom</a></li>

                </ul>
                <div id="jsCtLogo" class="cms-ct-logo">
                    <div class="ui-borderBottom pbs mbs footerTitleText" style="font-size:10px;">Một công ty thuộc</div>
                    <img data-load="lazy" class="cms-align-logo-with-bap" data-url="https://static-cf-vn.thezalora.space/cms/images/centralgroup_logo-01.png"
                        width="131" height="32" src="assets/centralgroup_logo-01.png">
                </div>
                <script type="text/javascript">
                    var html = '<ul><li><span class="company bigc"></span></li><li><a href="http://www.nguyenkim.com/?utm_source=backlink&utm_medium=seo&utm_campaign=zalora_&utm_content=logo-bottom" target="_blank"><span class="company nguyen-kim"></span></a></li><li><span class="company robins"></span></li>		<li><span class="company lanchi"></span></li><li><span class="company centara"></span></li></ul>';
                    $(function () {
                        $("#international").html(html);
                        $(".mtm.fsml.footerTitleText li").text("Các công ty thành viên");
                    });
                </script>
            </div>
            <div class="ftSocials lfloat box size1of4">
                <!-- BEGIN: Social Links -->

                <style>
                    .b-stickyLink {
                        width: 178px;
                    }

                    .b-stickyNewsletter .js-livchat {
                        right: -116px;
                    }

                    .b-stickyNewsletter__offerTitle {
                        font-size: 14px;
                        margin: 12px 90px 0 0;
                        width: 575px;
                    }

                    .b-topLink__accountLinks {
                        width: 102px;
                    }

                    .b-topLink__livechat {
                        margin-right: 0px;
                    }

                    .b-wishList {
                        margin-left: 50px;
                    }

                    .b-search {
                        margin-left: 28px;
                    }

                    .b-features {
                        font-size: 13px;
                    }

                    .icon.i-socFacebook {
                        background-position: -26px -59px;
                        height: 23px;
                        display: block;
                        width: 0;
                        padding-left: 26px;
                        line-height: 2.4em;
                    }

                    .icon.i-socTwitter {
                        background-position: -126px -59px;
                        height: 24px;
                        display: block;
                        width: 0;
                        padding-left: 26px;
                        line-height: 2.4em;
                    }

                    .icon.i-socYoutube {
                        display: block;
                        padding-left: 26px;
                        height: 24px;
                        width: 0;
                        line-height: 2.4em;
                        background-position: -101px -59px;
                    }

                    .icon.i-socGooglePlus {
                        background-position: -150px -59px;
                        height: 24px;
                        display: block;
                        width: 0;
                        padding-left: 26px;
                        line-height: 2.4em;
                    }

                    .icon.i-socInstagram {
                        background-position: -51px -59px;
                        display: block;
                        padding-left: 26px;
                        width: 0;
                        height: 24px;
                        line-height: 24px;
                        line-height: 2.4rem;
                    }

                    .icon.i-socBlog {
                        background-position: -76px -58px;
                        height: 24px;
                        display: block;
                        width: 0;
                        padding-left: 26px;
                        line-height: 2.4em;
                    }

                    .icon.i-socApp {
                        background-position: -1px -58px;
                        height: 24px;
                        display: block;
                        width: 0;
                        padding-left: 26px;
                        line-height: 2.4em;
                        float: left;
                    }

                    .icon.i-socPin {
                        background-position: -132px -131px;
                        height: 24px;
                        display: block;
                        width: 0;
                        padding-left: 26px;
                        line-height: 2.4em;
                    }

                    .icon.i-socViber {
                        background-position: -170px -129px;
                        height: 24px;
                        display: block;
                        width: 0;
                        padding-left: 26px;
                        line-height: 2.4em;
                    }
                    /* Change Catalog Banner Size */

                    .catalogBanner.categoryBanner {
                        height: auto !important;
                    }

                    .catalogBanner.subCategoryBanner {
                        height: auto !important;
                    }

                    .catalogBanner.brandWithCategoryBanner,
                    .catalogBanner.specialCatalogBanner {
                        margin-bottom: 8px;
                    }

                    .i-socBlog {
                        padding-left: 26px;
                    }
                    /* Shadow */

                    #Categories,
                    #Banners .boxone,
                    #Banners .boxtwo,
                    #Banners .boxthreea,
                    #Banners .boxthreeb,
                    #Topsellers,
                    #Brands,
                    .hpRightBannersContainer .RightBannersTop,
                    .hpRightBannersContainer .hpRightBannersBottom,
                    .bannerContainer.hpSlideshow {
                        box-shadow: 0 2px 7px #ddd;
                        moz-box-shadow: 0 2px 7px #d7d7d7;
                        -webkit-box-shadow: 0 2px 7px #d7d7d7;
                    }
                    /* BEGIN: Partner Links */

                    .partners li a {
                        line-height: 28px;
                        float: left;
                        width: 50%;
                        padding-bottom: 5px;
                        text-align: center;
                    }

                    #support a {
                        display: block;
                        width: 47px;
                        height: 110px;
                        background: url(https://static-cf-vn.thezalora.space/cms/icon/140604-logo.png) -264px -89px no-repeat;
                        text-indent: -9999px;
                    }
                    /*fix WOMEN capital*/

                    span.lfloat.header-nav-item.b-segment__item a {
                        text-transform: uppercase;
                    }
                    /*hide hotline block*/

                    p.footer-container__hotline {
                        display: none;
                    }
                    /*2015-11-23 uppercase search h1*/

                    .b-catalogList__searchCount.rfloat {
                        text-transform: uppercase;
                    }
                    /*2015-12-22 fix Phuong Thuc Thanh Toan at checkout*/

                    .pbs.h4.txtUpper {
                        font-size: 13px;
                    }

                    h4.ui-borderBottom.pbs.mbs.footerTitleText,
                    h4.ui-borderBottom.pbs.mbm.footerTitleText {
                        font-size: 10px!important;
                    }
                    /*2016-01-19 hide hotline_vi at footer*/

                    #footer>div.footer>div>div.footer-container>div.left p {
                        display: none;
                    }

                    .box.lfloat.footer-container__hotline {
                        display: none;
                    }
                    /*2016-04-06 capitalize color filter*/

                    li.b-catalogMenu__color-filter-itm.lfloat.js-colorItem {
                        text-transform: capitalize;
                    }
                    /*2016-05-11 word break product desc */

                    table.ui-grid.ui-gridFull.product__attr.prd-attributes.size1of2 td {
                        word-break: normal;
                    }
                    /*2016-05-19 supplied_by*/

                    span.product__sold-by.txtDark.txtUpper {
                        font-size: 10px !important;
                    }
                    /* 2017-02-15 add underline for hyperlink seo text */

                    .cms-seo-text a {
                        text-decoration: underline !important;
                    }

                    .hpS_e_oText a {
                        text-decoration: underline !important;
                    }

                    .js-seoText h2 {
                        font-size: 16px;
                        text-transform: uppercase;
                        font-weight: 700;
                        margin-top: 40px;
                    }

                    .js-seoText p {
                        font-size: 11px;
                        text-align: justify;
                    }


                    img.beauty_new1 {
                        width: 42px;
                        margin-top: -25px;
                        margin-left: -18px;
                    }
                </style>




                <h4 class="ui-borderBottom pbs mbm footerTitleText">Kết nối với ROBINS</h4>
                <ul>
                    <li class="ftSocials mbs"><a class="icon cms-sprite-footer i-socApp" href="https://www.robins.vn/mobile-apps/" target="_blank"
                            title="Ứng dụng Điện thoại ROBINS" style="white-space: nowrap; float: none;"><span style="line-height:26px;">Tải ROBINS APP</span></a></li>
                    <li class="ftSocials mbs"><a class="icon cms-sprite-footer i-socFacebook" href="http://www.facebook.com/ROBINSOnline" target="_blank"
                            title="ROBINS Facebook">Facebook</a></li>
                    <li class="ftSocials mbs"><a class="icon cms-sprite-footer i-socInstagram" href="https://www.instagram.com/ROBINS_Online" target="_blank"
                            title="ROBINS Instagram">Instagram</a></li>
                    <li class="ftSocials mbs"><a class="icon cms-sprite-footer i-socYoutube" href="https://www.youtube.com/ROBINSOnline" target="_blank"
                            title="ROBINS Youtube">Youtube</a></li>
                    <li class="ftSocials mbs"><a class="icon cms-sprite-footer i-socGooglePlus" rel="publisher" href="https://www.google.com/+RobinsOnline"
                            target="_blank" title="ROBINS Google+">Google+</a></li>
                    <li class="ftSocials mbs"><a class="icon cms-sprite-footer i-socPin" rel="publisher" href="https://www.pinterest.com/ROBINSOnline/"
                            target="_blank" title="ROBINS Pinterest">Pinterest</a></li>
                    <li class="ftSocials mbs"><a class="icon cms-sprite-footer i-socViber" rel="publisher" href="https://chats.viber.com/ROBINSOnline"
                            target="_blank" title="ROBINS Viber">Viber</a></li>
                    <li class="ftSocials mbs"><a class="icon cms-sprite-footer i-socTwitter" rel="publisher" href="https://www.twitter.com/ROBINS_Online"
                            target="_blank" title="ROBINS Twitter">Twitter</a></li>
                </ul>
                <!-- END: Social Links -->

                <!-- add www to header -->
                <script>
                    $(document).ready(function () {
                        $("a[href='https://robins.vn/outlet/?from=header']").attr('href', 'https://www.robins.vn/outlet/?from=header');
                        $("a[href='https://robins.vn/top-deals/?from=header']").attr('href', 'https://www.robins.vn/top-deals/?from=header');
                        $("a[href='https://robins.vn/?from=header']").attr('href', 'https://www.robins.vn/?from=header');
                    });
                </script>
            </div>
            <div id="payment-deliver" class="lfloat size1of4 box">
                <div class="ftSecurities lfloat box">
                    <div class="ftPayments">
                        <h4 class="ui-borderBottom pbs mbs footerTitleText">Thanh toán</h4>
                        <!-- dont change the footer sprite here, update it in footer_delivery -->
                        <style>
                            .b-wishList {
                                margin-left: 36px;
                            }

                            .mkEnabled .b-search {
                                margin-left: 18px;
                            }

                            .mkEnabled .b-segment__item {
                                margin: 0 18px;
                            }

                            .b-footer__links #payment-deliver.box {
                                padding-right: 0
                            }
                        </style>
                        <ul class="ui-listHorizontal">
                            <li class="ftPayment ui-listItem icon2 payMasterCard cms-sprite-footer">Master Card</li>
                            <li class="ftPayment ui-listItem icon2 payVISA cms-sprite-footer">Visa</li>
                            <li class="ftPayment ui-listItem icon2 payCOD cms-sprite-footer" style="">COD</li>
                        </ul>

                        <style>
                            .icon2 {
                                text-indent: -100000px;
                                float: left;
                                overflow: hidden;
                                margin-left: 3px;
                            }
                            /*.payVISA {height: 24px; width: 34px; background-position: -202px -60px;}
.payMasterCard {height: 24px; width: 37px;background-position: -237px -60px;}
.payCOD {height: 24px; width: 34px; background-position: -275px -60px;}
.pay123 {height: 24px; width: 34px; background:url(https://static-cf-vn.thezalora.space/cms/logos/logo-123pay.png) 0 0 no-repeat !important;}*/

                            .payMasterCard {
                                height: 37px;
                                width: 78px;
                                background-position: -252px -4px;
                            }

                            .payVISA {
                                height: 43px;
                                width: 69px;
                                background-position: -192px -93px;
                                margin-top: 5px;
                            }

                            .payCOD {
                                height: 34px;
                                width: 61px;
                                background-position: -131px -93px;
                                margin-top: 10px;
                            }

                            .pay123 {
                                height: 36px;
                                width: 89px;
                                background-position: -163px -1px;
                            }
                        </style>

                        <style>
                            .container {
                                width: 155px;
                                height: 83;
                                margin: 0 auto;
                            }

                            ul#icon {
                                list-style: none;
                                margin: 0 auto;
                            }

                            ul#icon li {
                                display: inline;
                            }

                            ul#icon li a {
                                display: block;
                                float: left;
                                width: 32px;
                                height: 24px;
                                margin: 2px 6px 2px 0;
                                background-image: url(//https://static-cf-vn.thezalora.space/cms/icon/footer-sprite.png);
                                text-indent: -9999px;
                            }

                            ul#icon li a.mastericon {
                                background-position: 0 -825px !important;
                                width: 32px;
                                height: 24px;
                            }

                            ul#icon li a.visaicon {
                                background-position: 0 -1363px !important;
                                width: 32px;
                                height: 24px;
                            }

                            ul#icon li a.codicon {
                                background-position: 0 -273px !important;
                                width: 32px;
                                height: 24px;
                            }

                            ul#icon li a.maestroicon {
                                background-position: 0 -751px !important;
                                width: 32px;
                                height: 24px;
                            }

                            ul#icon li a.paypalicon {
                                background-position: 0 -899px !important;
                                width: 32px;
                                height: 24px;
                            }

                            ul#icon li a.amexicon {
                                background-position: 0 -127px !important;
                                width: 32px;
                                height: 24px;
                            }
                            /** newsletter css - need to remove later **/

                            #unsub {
                                background-color: #fff;
                                padding: 6px;
                                width: 996px;
                                padding: 6px;
                                margin: 0 auto;
                            }

                            #unsub .col1 {
                                background: url("../../images/local/ZaloraUnsubPage01.jpg") no-repeat;
                                display: block;
                                width: 429px;
                                height: 600px;
                                float: left;
                            }

                            #unsub .col2 {
                                display: block;
                                width: 567px;
                                height: 600px;
                                float: left;
                                font-size: 14px;
                                position: relative;
                            }

                            #unsub .col2 .stay-with-us {
                                height: 182px;
                            }

                            #unsub .col2 .text {
                                padding-left: 32px;
                            }

                            .newsletter-unsub {
                                padding: 0;
                                margin: 0;
                            }

                            .newsletter-unsub .options {
                                background-color: #ffdac8;
                                padding: 12px 4px 4px 32px;
                                line-height: 18px;
                            }

                            .newsletter-unsub li {
                                margin-bottom: 10px;
                            }

                            .newsletter-unsub li input[type="radio"] {
                                margin-right: 5px;
                            }

                            .newsletter-unsub li.last {
                                margin-bottom: 2px;
                            }

                            .newsletter-unsub li span,
                            .newsletter-unsub li br:after {
                                font-size: 13px;
                                padding-left: 17px;
                            }

                            .newsletter-unsub li span.italic {
                                font-style: italic;
                            }

                            .newsletter-unsub li span.bold {
                                font-weight: bold;
                            }

                            .newsletter-unsub li div {
                                padding-top: 8px;
                            }

                            .newsletter-unsub li .textarea {
                                width: 304px;
                            }

                            .flat-black {
                                background: #000;
                                color: #fff;
                                border: 0 none;
                                text-transform: uppercase;
                                padding: 4px 8px 4px 8px;
                                display: inline-block;
                                margin: 8px 86px;
                            }

                            .newsletter-unsub .button {
                                padding: 0;
                                margin: 0 auto;
                                text-align: center;
                            }

                            .text-note {
                                font-size: 10px;
                                position: absolute;
                                bottom: 0;
                                text-align: center;
                                left: 28px;
                            }

                            #unsub .col2 .stay-with-us {
                                background: url("https://static-cf-vn.thezalora.space/cms/static-pages/zalora-vip/zaloraunsub2.jpg") no-repeat;
                            }

                            .button {
                                display: inline-block;
                                width: 567px;
                            }

                            .button br {
                                display: none;
                            }
                        </style>
                    </div>
                </div>
                <div class="ftSecurities lfloat box ptm">
                    <h4 class="ui-borderBottom pbs mbs footerTitleText">Dịch vụ vận chuyển</h4>
                    <div class="ftPayments">
                        <!-- if you upload a new icon, please update its filename in js-footer-sprite. Dont rename it -->
                        <style>
                            /*.js-footer-sprite {
    background-image: url('https://static-cf-vn.thezalora.space/cms/icon/140604-logo.png');
}*/

                            .js-footer-sprite {
                                background-image: url('https://static-cf-vn.thezalora.space/cms/logos/footer_logo_15072015.png');
                            }

                            .cms-sprite-footer {
                                background-repeat: no-repeat;
                            }

                            .b-footer__links .box .box {
                                width: 100%;
                                padding-right: 0;
                            }

                            #ttcvina a {
                                background-position: 0 -195px;
                                height: 30px;
                                width: 107px;
                                text-indent: -10000px;
                                display: block;
                            }

                            #viettel a {
                                background-position: -83px -8px;
                                height: 28px;
                                width: 75px;
                                text-indent: -10000px;
                                display: block;
                                margin-top: 5px;
                            }

                            #certify_01 {
                                width: 136px;
                                height: 51px;
                                float: left;
                            }

                            #certify_02 {
                                width: 136px;
                                height: 52px;
                                float: left;
                            }
                        </style>
                        <div id="ttcvina"><a class="cms-sprite-footer" target="_blank" href="http://ttcvina.com/">TTC</a></div>
                        <div id="viettel"><a class="cms-sprite-footer" target="_blank" href="http://viettelpost.com.vn/">Viettel</a></div>
                        <div id="vnpost"><img data-load="lazy" data-url="https://static-cf-vn.thezalora.space/cms/logos/vnpost_logo_2.png"
                                src="assets/vnpost_logo_2.png"></div>

                        <div class="mts">
                            <h4 class="ui-borderBottom pbs mbs footerTitleText" style="line-height: 17px;">Được chứng nhận</h4>
                            <div id="certify_01">
                                <a href="http://online.gov.vn/CustomWebsiteDisplay.aspx?DocId=17634" target="_blank">
            <img data-load="lazy" data-url="https://static-cf-vn.thezalora.space/cms/images/announced_374x142.png" width="136" alt="Đã đăng ký với Bộ Công Thương" src="assets/announced_374x142.png">

        </a>
                            </div>
                            <div id="certify_02">
                                <a target="_blank" href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=950">
            <img data-load="lazy" data-url="https://static-cf-vn.thezalora.space/cms/images/registered_373x140.png" width="136" alt="Đã đăng ký với Bộ Công Thương" src="assets/registered_373x140.png">
        </a>
                            </div>
                        </div>

                        <script>
                            $(function () {
                                if ($("#upperFooter").length > 0) {
                                    $("#upperFooter").bind("scrollin", function (evt) {
                                        $('.cms-sprite-footer').addClass("js-footer-sprite");
                                    });
                                }
                            });


                            $(document).ready(function () {
                                $("a.js-tooltip-header.ctl-type-link").text('OUTLET');
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="right ftMetas box fsm rfloat">
            <div class="newsletter__wrapper rfloat">
                <div class="newsletter__title">
                    Bạn là khách hàng mới? </div>
                <div class="newsletter__content">
                    <div class="newsletter__voucher mbm">
                        <style type="text/css">
                            #voucher-value {
                                font-size: 30px;
                                font-weight: normal;
                                line-height: 35px;
                            }

                            .newsletter__voucher {
                                font-size: 17px;
                            }
                        </style>
                        NHẬN NGAY VOUCHER TRỊ GIÁ <span id="voucher-value">120.000 VNĐ</span> </div>
                    <div class="newsletter__info mbm">
                        NHẬN NGAY NHỮNG ƯU ĐÃI HẤP DẪN VÀ CÁC XU HƯỚNG MỚI NHẤT </div>
                    <div class="collection">
                        <div id="nl_footer_notification" class="box mbs msgBox nl_inline_notification">
                            <div class="pas">
                            </div>
                        </div>
                        <form class="newsletter-signup" action="https://www.robins.vn/newsletter/validate//" method="post" position="nl_footer_notification"
                            autocapitalize="off" autocorrect="off">
                            <input type="hidden" value="a7e5ec3ed1d15b2da8bf8bd4f29d7f5b904ad8f0" name="YII_CSRF_TOKEN">
                            <input class="ui-inputText mbm bottom-newsletter-input js-disableEnterKeyForTextBox" placeholder="Địa chỉ email:" required="required"
                                name="newsletter[email]" data-errormessage-value-missing="Xin vui lòng nhập thông tin này" id="newsletter_email"
                                type="email"> <span class="signupButtonBlock box">
        <button class="btn btn-dark lfloat" type="submit" name="newsletter[gender]" value="female">Nữ</button>
        <button class="btn btn-dark rfloat" type="submit" name="newsletter[gender]" value="male">Nam</button>
    </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="l-pageWrapper">
            <div id="lowerFooter">
                <div class="ftBrands lfloat box ptm">
                    <div class="pbs mbs footerTitleText">Các thương hiệu hàng đầu</div>
                    <div class="unit size1of4">
                        <ul>
                            <li><a href="https://www.robins.vn/coco-sin" title="Coco Sin">Coco Sin</a></li>
                            <li><a href="https://www.robins.vn/crocs" title="Crocs">Crocs</a></li>
                            <li><a href="https://www.robins.vn/eucerin" title="Eucerin">Eucerin</a></li>
                            <li><a href="https://www.robins.vn/fitflop" title="FITFLOP">FITFLOP</a></li>
                        </ul>
                    </div>
                    <div class="unit size1of4">
                        <ul>
                            <li><a href="https://www.robins.vn/girlie" title="Girlie">Girlie</a></li>
                            <li><a href="https://www.robins.vn/gosto" title="Gosto">Gosto</a></li>
                            <li><a href="https://www.robins.vn/guess" title="Guess">Guess</a></li>
                            <li><a href="https://www.robins.vn/hnoss" title="Hnoss">Hnoss</a></li>
                        </ul>
                    </div>
                    <div class="unit size1of4">
                        <ul>
                            <li><a href="https://www.robins.vn/lea-s" title="LEA&#39;S">LEA'S</a></li>
                            <li><a href="https://www.robins.vn/marc" title="MARC">MARC</a></li>
                            <li><a href="https://www.robins.vn/mira-bella" title="MiraBella">MiraBella</a></li>
                            <li><a href="https://www.robins.vn/the-cosmo" title="The Cosmo">The Cosmo</a></li>
                        </ul>
                    </div>
                    <div class="unit size1of4 lastUnit">
                        <ul>
                            <li><a href="https://www.robins.vn/titan" title="TITAN">TITAN</a></li>
                            <li><a href="https://www.robins.vn/wannabe" title="Wannabe">Wannabe</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="pbs mbs mtl footerTitleText">Tìm nhiều nhất</div>
                    <div class="unit size1of4">
                        <ul class="seo-keywords-list-footer">
                            <li class="mbs"><a href="https://www.robins.vn/women/trang-phuc/ao-lien-quan/" title="Jumpsuits">Jumpsuits</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/the-thao/" title="Thể Thao Nam">Thể Thao Nam</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/giay-dep/giay-cao-got/" title="Giày Cao Gót">Giày Cao Gót</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/dong-ho/dong-ho-kim-nam/" title="Đồng Hồ Kim Nam">Đồng Hồ Kim Nam</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/giay-dep/giay-bot/" title="Giày Bốt Nam">Giày Bốt Nam</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/trang-phuc/do-lot-nam/" title="Đồ Lót Nam">Đồ Lót Nam</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/trang-phuc/quan/" title="Quần Nam">Quần Nam</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/phu-kien/trang-suc/" title="Trang Sức Nữ">Trang Sức Nữ</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/tui-xach/tui-deo-cheo/" title="Túi Đeo Chéo">Túi Đeo Chéo</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/dong-ho/dong-ho-dien-tu-nam/" title="Đồng Hồ Điện Tử Nam">Đồng Hồ Điện Tử Nam</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/giay-dep/giay-oxford/" title="Giày Oxford">Giày Oxford</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/giay-dep/giay-the-thao-cho-nam/" title="Giày Thể Thao Nam">Giày Thể Thao Nam</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/giay-dep/giay-casual/" title="Giày Casual Nam">Giày Casual Nam</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/dong-ho/" title="Đồng Hồ Nữ">Đồng Hồ Nữ</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/giay-dep/giay-da/" title="Giày Tây">Giày Tây</a></li>
                        </ul>
                    </div>
                    <div class="unit size1of4">
                        <ul class="seo-keywords-list-footer">
                            <li class="mbs"><a href="https://www.robins.vn/men/tui-xach/vi-bop-nam/" title="Ví Nam">Ví Nam</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/giay-dep/giay-bot/" title="Giày Bốt Nữ">Giày Bốt Nữ</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/trang-phuc/quan-tay-cong-so/" title="Quần Tây Nam">Quần Tây Nam</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/trang-phuc/chan-vay/" title="Chân Váy">Chân Váy</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/trang-phuc/ao-khoac-nu/" title="Áo Khoác">Áo Khoác</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/lam-dep/" title="Làm Đẹp Nam">Làm Đẹp Nam</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/tui-xach/ba-lo-nu/" title="Balo">Balo</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/tui-xach/" title="Túi Xách Nam">Túi Xách Nam</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/phu-kien/non-nu/" title="Nón Nữ">Nón Nữ</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/trang-phuc/" title="Trang Phục Nam">Trang Phục Nam</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/dong-ho/" title="Đồng Hồ">Đồng Hồ</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/lam-dep/nuoc-hoa/" title="Nước Hoa Nữ">Nước Hoa Nữ</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/tui-xach/vali-nam/" title="Vali">Vali</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/tui-xach/" title="Túi Xách Nữ">Túi Xách Nữ</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/phu-kien/" title="Phụ Kiện Nam">Phụ Kiện Nam</a></li>
                        </ul>
                    </div>
                    <div class="unit size1of4">
                        <ul class="seo-keywords-list-footer">
                            <li class="mbs"><a href="https://www.robins.vn/women/phu-kien/" title="Phụ Kiện Nữ">Phụ Kiện Nữ</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/phu-kien/" title="Phụ Kiện">Phụ Kiện</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/lam-dep/" title="Làm Đẹp">Làm Đẹp</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/giay-dep/giay-xang-dan-dep-kep/" title="Giày Xăng Đan &amp; Dép Kẹp Nam">Giày Xăng Đan &amp; Dép Kẹp Nam</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/giay-dep/giay-moi/" title="Giày Mọi Nữ">Giày Mọi Nữ</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/trang-phuc/quan/" title="Quần Nữ">Quần Nữ</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/phu-kien/trang-suc-nam/" title="Trang Sức Nam">Trang Sức Nam</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/the-thao/" title="Thể Thao Nữ">Thể Thao Nữ</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/lam-dep/" title="Làm Đẹp Nữ">Làm Đẹp Nữ</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/giay-dep/giay-de-xuong/" title="Giày Đế Xuồng">Giày Đế Xuồng</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/dong-ho/" title="Đồng Hồ Nam">Đồng Hồ Nam</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/giay-dep/" title="Giày">Giày</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/trang-phuc/quan-shorts/" title="Quần Shorts Nam">Quần Shorts Nam</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/trang-phuc/" title="Trang Phục Nữ">Trang Phục Nữ</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/phu-kien/au-phuc-ca-vat/" title="Âu Phục &amp; Cà Vạt">Âu Phục &amp; Cà Vạt</a></li>
                        </ul>
                    </div>
                    <div class="unit size1of4 lastUnit">
                        <ul class="seo-keywords-list-footer">
                            <li class="mbs"><a href="https://www.robins.vn/women/trang-phuc/quan-jeans/" title="Quần Jeans Nữ">Quần Jeans Nữ</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/giay-dep/giay-tang-chieu-cao/" title="Giày Tăng Chiều Cao">Giày Tăng Chiều Cao</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/giay-dep/giay-de-mem/" title="Giày Sneakers">Giày Sneakers</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/giay-dep/" title="Giày Nữ">Giày Nữ</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/giay-dep/" title="Giày Nam">Giày Nam</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/lam-dep/trang-diem/" title="Trang Điểm">Trang Điểm</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/the-thao/" title="Thể Thao">Thể Thao</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/phu-kien/non-nam/" title="Nón Nam">Nón Nam</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/trang-phuc/dam/" title="Đầm">Đầm</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/giay-dep/giay-bup-be/" title="Giày Búp Bê">Giày Búp Bê</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/trang-phuc/ao/" title="Áo Nữ">Áo Nữ</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/women/the-thao/quan-ao-the-thao-nu/" title="Quần Áo Thể Thao">Quần Áo Thể Thao</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/trang-phuc/tat/" title="Tất Nam">Tất Nam</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/trang-phuc/ao-so-mi/" title="Áo Sơ Mi Nam">Áo Sơ Mi Nam</a></li>
                            <li class="mbs"><a href="https://www.robins.vn/men/giay-dep/giay-luoi-giay-moi/" title="Giày Lười/Giày Mọi Nam">Giày Lười/Giày Mọi Nam</a></li>
                        </ul>
                    </div>
                </div>
                <div class="right ftMetas box fss rfloat">
                    <div class="right ftMetas box fsm ptm">
                        <div class="box">
                            <ul class="ui-borderBottom pbs mbs footerTitleText">
                                <li>Hãy giới thiệu ROBINS bằng:</li>
                            </ul>
                            <div id="suggestList-container">
                                <ul class="clearfix mbm">

                                    <li class="lfloat mrm"><a class="easy-googleplus social-sharing" href="https://plus.google.com/share?url=https://www.robins.vn/"
                                            target="_blank" data-networkid="googleplus" data-href="https://www.robins.vn/">
                                <span class="googleplus-icon"></span>
                            </a></li>
                                    <li class="lfloat mrm"><a class="easy-tweet social-sharing" href="https://twitter.com/share?url=https://www.robins.vn/&amp;text="
                                            target="_blank" data-networkid="twitter" data-href="https://www.robins.vn/">
                                <span class="twitter-icon"></span>
                                <span class="label">Tweet</span>
                            </a></li>
                                </ul>
                                <script>
                                    (function (w, d, s) {
                                        function loadThirdParty() {
                                            var js, fjs = d.getElementsByTagName(s)[0], load = function (url, id) {
                                                if (d.getElementById(id)) { return; }
                                                js = d.createElement(s); js.src = url; js.id = id; js.async = true;
                                                fjs.parentNode.insertBefore(js, fjs);
                                            };
                                            load('http://connect.facebook.net/vi_VN/all.js#xfbml=1&appId=151431591712742', 'facebook-jssdk');
                                        } if (w.addEventListener) { w.addEventListener('load', loadThirdParty, false); }
                                        else if (w.attachEvent) { w.attachEvent('onload', loadThirdParty); }

                                    }(window, document, 'script'));
                                </script>
                            </div>
                        </div>
                        <ul class="pbs mbs footerTitleText">
                            <li>HỆ THỐNG BẢO MẬT</li>
                        </ul>
                        <div id="trustedShopFooter" class="box-bdr mbm pam">
                            <div class="wrapper box ">
                                <div class="icon-wrapper lfloat">
                                    <a style="text-decoration: none" target="_blank" href="https://pci.usd.de/compliance/3312-1D6C-42CE-F50B-C5C4-8BE0/details_en.html"><img class="pcilogo pcibigbox" title="PCI DSS Approved" alt="PCI DSS Approved" data-load="lazy" data-url="https://static-cf-vn.thezalora.space/cms/pci_logo/may2017/seal_ctv_100.png" src="assets/seal_ctv_100.png"></a>                                    </div>
                                <ul class="lfloat mtm">
                                    <li class="mbm">
                                        <i class="icon_check-light mrs"></i>
                                        <p class="ui-inlineBlock man">Chuẩn bảo mật PCI</p>
                                    </li>
                                    <li class="mbm">
                                        <i class="icon_check-light mrs"></i>
                                        <p class="ui-inlineBlock man">Bảo vệ chủ thẻ</p>
                                    </li>
                                    <li class="mbm">
                                        <i class="icon_check-light mrs"></i>
                                        <p class="ui-inlineBlock man">Mạng mã hoá</p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <ul class="mtm fsml footerTitleText">
                            <li>Các công ty thành viên</li>
                        </ul>
                        <div id="international" class="fsm mts">
                            <ul>
                                <li><span class="company bigc"></span></li>
                                <li><a href="http://www.nguyenkim.com/?utm_source=backlink&amp;utm_medium=seo&amp;utm_campaign=zalora_&amp;utm_content=logo-bottom"
                                        target="_blank"><span class="company nguyen-kim"></span></a></li>
                                <li><span class="company robins"></span></li>
                                <li><span class="company lanchi"></span></li>
                                <li><span class="company centara"></span></li>
                            </ul>
                        </div>
                        <div class="mts footer-facebook">
                        </div>
                    </div>
                </div>
            </div>
            <hr id="footer">
            <div class="footer-container">
                <div class="left">
                    <p>Có thắc mắc? Hãy liên lạc với chúng tôi</p>
                    <p class="footer-container__hotline">Gọi miễn phí: 1900-1008
                        <style type="">
                            #infoTextRightSidebar p.i-callTollFree { color: #EE931E; padding-left: 5px; } .i-callTollFree { height: auto !important;}
                        </style>
                        <!-- BEGIN: Company Information -->
                    </p>
                    <div class="mts" id="com-info">
                        <div class="mtm footerTitleText">Thông tin Công ty</div>
                        <div class=" fsm mts partners">
                            <div style="overflow:hidden;">
                                Công ty TNHH Bán lẻ và Giao nhận Recess<br> Số ĐKKD: 0310304752<br> Văn Phòng: 163 Phan Đăng
                                Lưu,P.1, Quận Phú Nhuận, TPHCM (Đổi trả hàng tại tầng trệt) <br>

                            </div>
                        </div>
                    </div>
                    <p></p>
                </div>
                <div class="right">
                    <p>
                    </p>
                    <ul>
                        <li><a target="_blank" title="Thông tin" href="https://www.robins.vn/about">Thông tin</a></li>
                        <li><a target="_blank" title="Liên hệ" href="https://www.robins.vn/contact">Liên hệ</a></li>
                        <li><a target="_blank" title="Trợ giúp" href="https://www.robins.vn/help">Trợ giúp</a></li>
                        <li><a target="_blank" title="Chính Sách Bảo Mật" href="https://www.robins.vn/privacy">Chính Sách Bảo Mật</a></li>
                        <li class="last"><a target="_blank" title="Điều Khoản &amp; Điều Kiện" href="https://www.robins.vn/terms-of-service">Điều Khoản &amp; Điều Kiện</a></li>
                    </ul>
                    <p></p>
                    <p>© 2012, 2017 Robins</p>
                </div>
            </div>
        </div>
    </div>
</footer>