<div class="stickybottom js-nl_slide" style="display: block;">
    <div class="js-stickyLink" style="display: none;">
        <a href="javascript:void(0)" class="js-nl_signup">
            <div class="b-stickyLink box">
                <span class="b-stickylink__signup lfloat">
                <span class="i-newsletterSmall s-newsletter"></span> MÃ GIẢM GIÁ 120.000đ </span>
            </div>

            <div class="b-stickyNewsletter__arrowup">
                <span class="s-global i-nlarrowup"></span>
            </div>
        </a>
    </div>

    <div class="b-stickyNewsletter">
        <div class="box">
            <div id="nl_slider_notification" class="b-stickyNewsletter__formNoti js-stickyNewsletter__formNoti pam">
                <span class="b-stickyNewsletter__close">
                    <a href="javascript:void(0)" class="js-nl_close nl-close"><span class="s-global i-nlclose"></span>                </a>
                </span>
                <div class="pas"></div>
                <div id="nl_slider_notification_text">
                    <span id="js-subscribe_success">You have successfully signed up! Your exclusive promo-code has been sent to your email. Welcome to ZALORA!</span>
                    <span id="js-already_subscribed">Để quản lý bản tin, nhấn <a href="https://www.robins.vn/customer/preferences/index/">vào đây</a>. Nếu bạn có thắc mắc, xin vui lòng liên hệ Hotline <b>1900 1008</b></span>
                    <span id="js-invalid_email">Nhấn <a href="javascript:void(0)" class="js-nl_close">vào đây</a> để thử lại lần nữa. Nếu bạn có thắc mắc, xin liên hệ Hotline <b>1900 1008</b></span>
                </div>
            </div>
        </div>

        <div class="b-stickyNewsletter__form js-stickyNewsletter__form box" style="display: block;">
            <span class="b-stickyNewsletter__close">
                <a href="javascript:void(0)" class="js-nl_close nl-close"><span class="s-global i-nlmin"></span>            </a>
            </span>
            <div class="b-stickyNewsletter__formWrapper">
                <!-- span class="s-newsletter i-newsletterBig b-stickyNewsletter__el lfloat"></span -->
                <span class="b-stickyNewsletter__formInfo b-stickyNewsletter__el lfloat strong txtUpper"><img src="assets/120K.jpg" alt=""></span>
                <form class="newsletter-signup lfloat form-inline" method="post" action="https://www.robins.vn/newsletter/validate//" position="nl_slider_notification"
                    autocapitalize="off" autocorrect="off">
                    <input type="hidden" value="a7e5ec3ed1d15b2da8bf8bd4f29d7f5b904ad8f0" name="YII_CSRF_TOKEN">
                    <input type="hidden" id="newsletter-gender" name="newsletter[gender]" value="unspecified">
                    <div class="form-group b-stickyNewsletter__el box">
                        <input class="ui-inputText lfloat js-disableEnterKeyForTextBox" placeholder="Nhập email của bạn vào đây" required="required"
                            name="newsletter[email]" id="newsletterOfferInput" data-errormessage-value-missing="Xin vui lòng nhập thông tin này"
                            type="email"> </div>
                    <div class="form-group b-stickyNewsletter__el box mts">
                        <button type="button" id="newsletter-submit-women" class="btn btn--tertiary size48of100 lfloat">Nữ</button>
                        <button type="button" id="newsletter-submit-men" class="btn btn--tertiary size48of100 rfloat">Nam</button>
                        <button id="newsletter-submit-btn" type="submit" class="display-none"></button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>