<div class="b-catalogMenu__list">
    <ul>
        <li class="pbs category-tree" id="facet-category">
            <div>
                <ul class="cnv b-catalogMenu__categoryList sel-catalog-category js-catalogCategory" id="filter_category">
                    <li class="cnv-level-1 b-categoryTree--topLevel">
                        <div id="js-topCat1" class="strong b-catalogMenu__toggleTitle js-expand js-arrow-down" data-level="1">
                            <i class="icon_plus-small-dark"></i>
                            <i class="icon_minus-small-dark"></i>
                            <span class="txtUpper">Nữ</span>
                        </div>
                        <ul id="js-topCat1-sub" class="js-subCat js-topCat b-catalogMenu__subCat-active" data-level="1">
                            <li id="c3">

                                <div href="women/trang-phuc/new-products/?from=header" class="filter-item js-filter-item b-catalogMenu__clickable">
                                    <span class="b-catalogMenu__itemName">Trang Phục Nữ</span>
                                    <span class="b-catalogMenu__itemCount">(99+)</span>
                                </div>

                            </li>
                            <li id="c4">

                                <div href="women/giay-dep/new-products/?from=header" class="filter-item js-filter-item b-catalogMenu__clickable">
                                    <span class="b-catalogMenu__itemName">Giày Nữ</span>
                                    <span class="b-catalogMenu__itemCount">(99+)</span>
                                </div>

                            </li>
                            <li id="c256">

                                <div href="women/phu-kien/new-products/?from=header" class="filter-item js-filter-item b-catalogMenu__clickable">
                                    <span class="b-catalogMenu__itemName">Phụ Kiện Nữ</span>
                                    <span class="b-catalogMenu__itemCount">(99+)</span>
                                </div>

                            </li>
                            <li id="c264">

                                <div href="women/tui-xach/new-products/?from=header" class="filter-item js-filter-item b-catalogMenu__clickable">
                                    <span class="b-catalogMenu__itemName">Túi Xách Nữ</span>
                                    <span class="b-catalogMenu__itemCount">(99+)</span>
                                </div>

                            </li>
                            <li id="c296">

                                <div href="women/dong-ho/new-products/?from=header" class="filter-item js-filter-item b-catalogMenu__clickable">
                                    <span class="b-catalogMenu__itemName">Đồng Hồ Nữ</span>
                                    <span class="b-catalogMenu__itemCount">(65)</span>
                                </div>

                            </li>
                            <li id="c397">

                                <div href="women/lam-dep/new-products/?from=header" class="filter-item js-filter-item b-catalogMenu__clickable">
                                    <span class="b-catalogMenu__itemName">Làm Đẹp Nữ</span>
                                    <span class="b-catalogMenu__itemCount">(99+)</span>
                                </div>

                            </li>
                            <li id="c479">

                                <div href="women/the-thao/new-products/?from=header" class="filter-item js-filter-item b-catalogMenu__clickable">
                                    <span class="b-catalogMenu__itemName">Thể Thao Nữ</span>
                                    <span class="b-catalogMenu__itemCount">(48)</span>
                                </div>

                            </li>
                            <li id="c7663">

                                <div href="women/xu-huong/new-products/?from=header" class="filter-item js-filter-item b-catalogMenu__clickable">
                                    <span class="b-catalogMenu__itemName">Xu hướng nữ</span>
                                    <span class="b-catalogMenu__itemCount">(99+)</span>
                                </div>

                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>