<div class="js l-full-hd ui-page-bg  thm-core thm-local thm-vnfas  l-hasSidebar no-touch" aria-describedby="evergage-tooltip-ambVyGWJ">
    <div role="main" id="content">
        <div class="fullWidthBanner js-catalogFullWidthBanner">
            <div id="evergage-tooltip-ambVyGWJ" class="evergage-tooltip evergage-qtip   evergage-tooltip-page evergage-tooltip-page-replace evergage-tooltip-pos-tl evergage-tooltip-focus"
                tracking="false" role="alert" aria-live="polite" aria-atomic="false" aria-describedby="evergage-tooltip-ambVyGWJ-content"
                aria-hidden="false" style="color: rgb(0, 0, 0); visibility: visible; box-sizing: border-box; display: block; margin-bottom: 0px !important; width: 996px; z-index: 1000003; opacity: 1;">
                <style class="evergage-tooltip-style">
                    .cms-category-bg {
                        background: url("https://static-vn.zacdn.com/cms/20170401-april-fool.jpg");
                        width: 996px;
                        height: 300px;
                    }

                    .cms-category-content-pos {
                        padding-left: 35px;
                        padding-top: 20px;
                    }

                    .cms-category-content-pos span {
                        font-size: 16px;
                        color: #434343;
                        line-height: 50px;
                        font-weight: bold;
                    }
                </style>
                <div class="mbm">
                    <img src="assets/20170614-newarrivals-LP-women.jpg" alt="" class="">

                </div>
            </div>
        </div>
        <div class="l-pageWrapper js-catalogPage catalogPage" data-sticky_parent="">
            <div class="fullWidthBanner"></div>
            <div class="wrapper-sticky" style="display: block; height: 1410px; width: 203px; margin: auto; position: relative; float: left; left: auto; right: auto; top: auto; bottom: auto; vertical-align: top;">
                <div class="l-sidebar js-left-sidebar b-catalogCategory" data-sticky_column="" style="top: 0px; bottom: auto; left: 0px; right: auto; position: absolute; width: 196px;">
                    <div class="b-catalogMenu box">
                        <mol-collection-vertical></mol-collection-vertical>
                        <mol-sidebar-filter-tool></mol-sidebar-filter-tool>
                    </div>
                </div>
            </div>
            <div class="l-main js-left-main b-catalogList clearfix" data-sticky_column="">
                <div class="js-ajaxLoading b-catalogLoadingOverlay l-main b-catalogList" style="display: none;">
                    <div class="b-catalogAjaxLoading centre-loading">
                    </div>
                </div>

                <div class="catalogBanner" style="display: none;"></div>

                <div class="b-catalogList__nav title-bar pal clearfix box">
                    <div class="b-catalogList__info lfloat">
                        <ul id="breadcrumb" class="b-breadcrumbs">
                            <li>

                                <a href="https://www.robins.vn/" class="js-breadcrumb"><span itemprop="title">Trang chủ</span></a>

                            </li>
                            <li>

                                <a href="https://www.robins.vn/women" class="js-breadcrumb"><span itemprop="title">Nữ</span></a>

                            </li>
                            <li>

                                New products

                            </li>
                        </ul>
                    </div>
                    <div class="b-catalogList__count rfloat">
                        <h1 class="man pan lhn js-catalogCount fsm" itemprop="name">
                            <span class="js-totalProduct">3335</span> sản phẩm tìm thấy </h1>
                    </div>
                </div>
                <mol-main-list-product></mol-main-list-product>
                <div class="l-pageWrapper b-seo__seoText mtl b-seo__txtGray js-seoText box fct-text fsm mbm">
                    <h2>HÀNG MỚI VỀ HOT NHẤT TẠI ROBINS.VN</h2>
                    <p>Hòa cùng các <strong>xu hướng thời trang mới nhất</strong> trong năm, ROBINS.VN liên tục cập nhật <strong>hàng mới về</strong>                        mỗi ngày. Từ quần áo đến giày dép, phụ kiện, ROBINS.VN luôn mang đến cho khách hàng những lựa chọn
                        mới cho trang phục của mình mỗi ngày. Bên cạnh đó, ROBINS.VN cũng mang đến cho bạn những sản phẩm
                        làm đẹp mới nhất, giúp bạn có vẻ ngoài rạng rỡ. Tại ROBINS.VN, <strong>thời trang mới 2017</strong>                        luôn đi theo các xu hướng hot nhất trong làng thời trang thế giới, giúp bạn sở hữu bộ cánh thời thượng
                        và sành điệu nhất.</p>
                    <h2>PHỐI ĐỒ VỚI CÁC MỐT THỜI TRANG 2017 MỚI NHẤT</h2>
                    <p>Chỉ cần biết cách mix đồ <strong>mốt thời trang 2017</strong> mới nhất, bạn sẽ trở nên thật thời trang
                        trong mắt người đối diện. Bạn có thể phối <a href="http://www.robins.vn/women/giay-dep/giay-cao-got/new-products/"
                            title="giày thời trang nữ" target="blank">giày thời trang nữ</a> với <a href="http://www.robins.vn/women/trang-phuc/dam-dao-pho/new-products/"
                            title="trang phục nữ" target="blank">trang phục nữ</a> cùng <a href="http://www.robins.vn/women/phu-kien/trang-suc/new-products/"
                            title="phụ kiện" target="blank">phụ kiện</a> thích hợp. Đừng quên sử dụng các <a href="http://www.robins.vn/women/lam-dep/ma-hong/new-products/"
                            title="sản phẩm làm đẹp" target="blank">sản phẩm làm đẹp</a> để hoàn thiện vẻ ngoài của mình. Với
                        những cô gái yêu thích thể thao thì các sản phẩm <a href="http://www.robins.vn/women/the-thao/nguyen-bo-the-thao-nu/new-products/"
                            title="đồ thể thao nữ" target="blank">đồ thể thao nữ</a> mới nhất sẽ là lựa chọn thích hợp. <strong>Các kiểu thời trang mới nhất</strong>                        luôn được ROBINS.VN cập nhật hằng ngày, giúp bạn bắt kịp với xu hướng nhanh nhất.</p>
                    <h2>THỜI TRANG MỚI NHẤT HIỆN NAY TẠI ROBINS.VN</h2>
                    <p>ROBINS.VN luôn mang đến cho bạn những trải nghiệm mua sắm thú vị. Chúng tôi luôn cập nhật các mẫu <strong>thời trang mới nhất hiện nay</strong>                        để bạn thỏa thích mua sắm, làm mới phong cách của mình. <strong>Thời trang mới nhất 2017</strong>                        tại ROBINS.VN đa dạng kiểu dáng, mẫu mã từ các thương hiệu nổi tiếng trong và ngoài nước như <a href="http://www.robins.vn/atlas/"
                            title="ATLAS" target="blank">ATLAS</a>, <a href="https://www.robins.vn/the-cosmo/" title="The Cosmo"
                            target="blank">The Cosmo</a>, <a href="https://www.robins.vn/the-blues/" title="The Blues" target="blank">The Blues</a>,
                        <a href="https://www.robins.vn/pierre-cardin/" title="Pierre Cardin" target="blank">Pierre Cardin</a>,
                        <a href="http://www.robins.vn/koumi-koumi/" title="Koumi Koumi" target="blank">Koumi Koumi</a>,
                        <a
                            href="http://www.robins.vn/inner-circle/" title="Inner Circle by ROBINS" target="blank">Inner Circle by ROBINS</a>, <a href="http://www.robins.vn/madam-dzi/" title="Madam Dzi" target="blank">Madam Dzi</a>,…
                            Khi mua các sản phẩm <strong>thời trang nữ mới nhất</strong> tại ROBINS.VN, bạn sẽ được giao
                            hàng tận nơi, thanh toán khi nhận hàng, 30 ngày miễn phí đổi trả. Nhiều chương trình ưu đãi giá
                            hàng ngày, hàng tháng sẽ giúp bạn mua sắm những món đồ yêu thích với giá tốt nhất. Click ngay
                            ROBINS.VN để mua sắm những <strong>mẫu thời trang mới nhất</strong> bạn nhé!</p>
                </div>
                <script type="text/template" id="noresult">
                    <div id="noResultSearchPage" class="l-pageWrapper catalog__noresult box">
                        <div class="catalog__noresultTitle">

                        </div>
                        <div class="catalog__noresult__bg">
                            <div class="catalog__noresult__bg"><img src="https://static-cf-vn.thezalora.space/cms/images/01062014_product_not_found_bg.jpg"
                                    alt="" />
                            </div>
                        </div>
                        <div class="box pal mbm ">
                            <div class="catalog__noresultTip">
                                <div class="fsl">Một vài gợi ý hữu ích</div>
                                <ul>
                                    <li>Hãy kiểm tra từ khóa bạn vừa gõ vào. Ví dụ, bạn có thể đã nhập "Giay2 dep1" thay vì "Giày
                                        dép"</li>
                                    <li>Hãy nhập vào từ gần nghĩa để tìm kiếm</li>
                                    <li>Hãy thử tìm kiếm với 1 từ khóa duy nhất</li>
                                    <li>Hãy tìm với từ khóa chung - Bạn có thể lọc kết quả lại sau đó</li>
                                    <li>Gọi cho chúng tôi nếu bạn không tìm được sản phẩm mong muốn. Hotline: <b>1900 1008</b>
                                    </li>
                                </ul>
                            </div>
                            <div class="mbss mtl">
                                <p class="pbs mts mrm lfloat fsml catalog__noresult__label">Hãy thử tìm kiếm lần nữa : </p>
                                <div id="errSearchForm" class="line box">
                                    <form id="search" class="ui-formRounded ssg" method="get" action="/catalog/" autocapitalize="on" autocorrect="on">
                                        <div id="ssg-loading"></div>
                                        <div class="btn-input-group catalog__notfound__form">
                                            <label class="s-visuallyhidden" for="search">Tìm kiếm</label>
                                            <div class="btn-input-group__input">
                                                <input id="searchInput" class="sel-search-input" type="text" autocomplete="off" placeholder="Từ khóa tìm kiếm" name="q">
                                            </div>
                                            <div class="btn-input-group__btn">
                                                <button id="err-button" class="btn sel-search-button fsm" type="submit" name="submit">
                                                    <span class="icon i-searchLoupe i-invertedSearchLoupe"></span>Tìm kiếm </button>
                                            </div>
                                        </div>
                                        <input id="baseUrl" type="hidden" value="" name="baseUrl">
                                        <div id="searchSuggestResult" class="ssg-result display-none"></div>
                                    </form>
                                </div>
                            </div>
                            <div class="mtxl fsl mbs">Hoặc truy cập vào các danh mục hàng đầu của chúng tôi:</div>
                            <div class="white-box box-bdr box catalog__noresultFeatureCategories">
                                <div id="featuredCategories" class="b-notfound__featureCat mtl">
                                    <div>
                                        <ul>
                                            <li>
                                                <a href="/women/trang-phuc/dam/">
                                                    <div><img src="https://static-cf-vn.thezalora.space/cms/images/110x140_Dam.jpg"
                                                            alt="" />
                                                    </div>
                                                    <span>Đầm</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/women/giay-dep/giay-bup-be/">
                                                    <div><img src="https://static-cf-vn.thezalora.space/cms/images/110x140_GiayBupBe.jpg"
                                                            alt="" />
                                                    </div>
                                                    <span>Giày Búp Bê</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.zalora.vn/men/trang-phuc/ao-thun/">
                                                    <div><img src="https://static-cf-vn.thezalora.space/cms/images/110x140_AoThun.jpg"
                                                            alt="" />
                                                    </div>
                                                    <span>Áo thun</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.zalora.vn/women/tui-xach/">
                                                    <div><img src="https://static-cf-vn.thezalora.space/cms/images/110x140_TuiXach.jpg"
                                                            alt="" />
                                                    </div>
                                                    <span>Túi Xách</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/women/giay-dep/giay-cao-got/">
                                                    <div><img src="https://static-cf-vn.thezalora.space/cms/images/110x140_GiayCaoGot.jpg"
                                                            alt="" />
                                                    </div>
                                                    <span>Giày Cao Gót</span>
                                                </a>
                                            </li>


                                            <li>
                                                <a href="http://www.zalora.vn/women/trang-phuc/ao-kieu/?sort=popularity&dir=desc&category_id=385">
                                                    <div><img src="https://static-cf-vn.thezalora.space/cms/images/110x140_AoBlouse.jpg"
                                                            alt="" />
                                                    </div>
                                                    <span>Áo Blouse</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="/men/giay-dep/giay-casual/">
                                                    <div><img src="https://static-cf-vn.thezalora.space/cms/images/110x140_GiayCasual.jpg"
                                                            alt="" />
                                                    </div>
                                                    <span>Giày Casual</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="/men/trang-phuc/ao-so-mi/">
                                                    <div><img src="https://static-cf-vn.thezalora.space/cms/images/110x140_AoSoMi.jpg"
                                                            alt="" />
                                                    </div>
                                                    <span>Áo Sơ Mi</span>
                                                </a>
                                            </li>


                                        </ul>
                                    </div>





                                </div>
                            </div>
                        </div>
                </script>
                <script type="text/template" id="product-template">
                    <li id="<%=meta.sku%>" class="b-catalogList__itm js-catalogList__itm hasOverlay unit size1of3">
                        <span class="js-catalogList__itmHead"></span>
                        <div class="b-catalogList__itmOverlay narrow">
                        </div>
                        <a class="b-catalogList__itmLink itm-link" href="<%=link%>">
                            <% if (_.isArray(overlay) && overlay.length> 0) { %>
                                <% for (var i=0; i<overlay.length; i++) { %>
                                    <% var currentDate=n ew Date(); %>
                                        <% var currentTime=c urrentDate.getTime(); %>
                                            <% var startTime=0 , endTime=0 ; %>
                                                <% if (typeof overlay[i][ 'start_date'] !=='undefined' ) { %>
                                                    <% startTime=a pp.getTime(overlay[i][ 'start_date']); %>
                                                        <% } %>
                                                            <% if (typeof overlay[i][ 'end_date'] !=='undefined' ) { %>
                                                                <% endTime=a pp.getTime(overlay[i][ 'end_date']); %>
                                                                    <% } %>
                                                                        <% if (typeof overlay[i][ 'catalog_overlay_url'] !=='undefined' ) { %>
                                                                            <% if (currentTime>= startTime && (currentTime
                                                                                <=e ndTime || endTime==0 )) { %>
                                                                                <span class="b-catalogList__itm-productOverlayCatalog js-itm-hover" data-sku="<%=meta.sku%>">
                            <img src="<%=overlay[i]['catalog_overlay_url']%>" />
                        </span>
                                                                                <% } %>
                                                                                    <% } %>
                                                                                        <% } %>
                                                                                            <% } %>
                                                                                                <span class="b-catalogList__itmImageWrapper js-catalogImage js-itm-hover" data-index="<%=index%>" data-sku="<%=meta.sku%>"
                                                                                                    style="height: 345px;">
            <% var colorFamily = meta.color_family.replace("N/A", ""); %>
            <% var colorFamilyAlt = ' '; %>
            <% var colorFamilyTitle = '_'; %>
            <% if (colorFamily) { %>
                <% var colors = colorFamily.split('|').join(' and '); %>
                <% colorFamilyAlt = ' ' + colors + colorFamilyAlt; %>
                <% colorFamilyTitle = ' in ' + colors + colorFamilyTitle; %>
            <% } %>
            <img data-src="<%=image%>" alt="<%=meta.brand%><%=colorFamilyAlt%><%=meta.name%> <%=meta.sku%>_1"
              title="<%=meta.name%> from <%=meta.brand%><%=colorFamilyTitle%>1"
              width="236" height="345"
              class="b-catalogList__itm-img js-itm-img js-itm-hover-img-front">
            <img data-src="<%=meta.sku%>" width="236" height="345"
              class="b-catalogList__itm-img-hover js-itm-hover-img-back">
     </span>
        <em class="b-catalogList__itmTitle fss">
            <%=meta.name%>
        </em>
                                                                                                                <span class="b-catalogList__itmPriceBox itm-priceBox fsm txtDark">
            <% if (meta.special_price !== '') { %>
                <% if (price_prefix !== '') { %>
                    <br/>
                <%} else {%>
                    <span class="b-catalogList__itmPrice old">
                    <span><%=meta.price%> VNĐ</span>                                                                                                                </span>
                                                                                                                <%}%>
                                                                                                                    <span class="b-catalogList__itmPrice special">
                    <span class="txtUpper">
                        <%=app.translate(special_price_prefix)%>
                    </span>
                                                                                                                    <span><span><%=meta.special_price%> VNĐ</span>                                                                                                                    </span>
                                                                                                                    </span>
                                                                                                                    <% } else { %>
                                                                                                                        <span class="b-catalogList__itmPrice">
                    <span class="txtUpper"><%=app.translate(price_prefix)%></span>
                                                                                                                        <span><span><%=meta.price%> VNĐ</span></span>
                                                                                                                        </span>
                                                                                                                        <br />
                                                                                                                        <% } %>
                                                                                                                            </span>
                                                                                                                            <span id="size_<%=meta.sku%>" class="b-catalogList__itmAvailableSizes">
            <% if (available_sizes.length > 5) { %>
                <span class="b-catalogList__itmSizeLabel" id="several-size-label" url="<%=link%>">
                    Có nhiều kích cỡ                </span>                                                                                                             </span>
                        </a>
                    </li>
                </script>
                <script type="text/template" id="search-template">
                    <div class="b-catalogList__search clearfix box">
                        <h1 class="prd-index-h1">
                            <div class="b-catalogList__searchInfo lfloat">Kết quả tìm kiếm cho<span class="b-catalogList__searchterm"> : "<%=search_term%>"</span>
                            </div>
                            <div class="b-catalogList__searchCount rfloat">
                                sản phẩm tìm thấy :
                                <%=total%>
                            </div>
                        </h1>
                    </div>
                </script>
                </div>
            </div>