<div role="main" id="content">


    <div class="l-pageWrapper">

      <div id="Banners" class="b-mainBanner__ads">
        <div class="dfaContainer advertisement-block">

          <link rel="stylesheet" href="assets/onsite.css">
          <style>
            .cms-hp-3brow {
              top: 0;
              width: 322px;
              height: 300px
            }

            .cms-hp-p13-bg {
              position: absolute;
              z-index: 3;
              width: 322px;
              height: 322px
            }

            .cms-hp-p13-bg-copy {
              position: absolute;
              z-index: 3;
              width: 322px;
              margin-top: 322px;
            }

            .cms-hp-p13 {
              position: absolute;
              z-index: 2;
              width: 322px;
              height: 270px
            }

            .cms-hp-nl-form {
              width: 566px;
              height: 300px;
              padding-left: 430px
            }

            .cms-underline-copy {
              display: inline-block;
              padding-bottom: 1px;
              border-bottom: 1px solid #000;
            }

            body {
              background: #fff!important
            }

            .cms-fallback {
              display: none;
            }

            .cms-section-heading {
              text-transform: none;
              font-size: 28px;
              padding-bottom: 0px;
              border-bottom: 0px;
            }

            .sprite {
              background-image: url(https://static-cf-vn.thezalora.space/cms/sprite/hp_brand_logo_spritesheet.png);
              background-repeat: no-repeat;
              display: block;
              float: left;
              /*6 logos each row*/
              padding-left: 21px;
              margin-left: 40px;
            }

            .sprite-DW {
              width: 137px;
              height: 83px;
              background-position: -10px -10px;
            }

            .sprite-F_F {
              width: 137px;
              height: 83px;
              background-position: -167px -10px;
            }

            .sprite-Geox {
              width: 137px;
              height: 83px;
              background-position: -10px -113px;
            }

            .sprite-Inner-Circle {
              width: 137px;
              height: 83px;
              background-position: -167px -113px;
            }

            .sprite-J_Co {
              width: 137px;
              height: 83px;
              background-position: -10px -216px;
            }

            .sprite-Laneige {
              width: 137px;
              height: 83px;
              background-position: -167px -216px;
            }

            .sprite-Mango {
              width: 137px;
              height: 83px;
              background-position: -324px -10px;
            }

            .sprite-Nike {
              width: 137px;
              height: 83px;
              background-position: -324px -113px;
            }

            .sprite-Super-Sport {
              width: 137px;
              height: 83px;
              background-position: -324px -216px;
            }

            .sprite-Zilandi {
              width: 137px;
              height: 83px;
              background-position: -10px -319px;
            }

            .sprite-Shiseido {
              width: 137px;
              height: 83px;
              background-position: -167px -325px;
            }

            .btn_home {
              cursor: pointer;
              font-weight: bold;
              color: white;
              display: inline-block;
              border: 2px solid white;
              padding: 5px;
              font-size: 19px;
              width: 130px;
              box-sizing: border-box;
              text-align: center;
              text-decoration: none;
              -webkit-transition: all ease 0.6s;
              -moz-transition: all ease 0.6s;
              transition: all ease 0.6s;
              letter-spacing: 2px;
              text-transform: uppercase;
              font-family: Apercu, arial, sans-serif;
            }

            .btn_home:hover {
              box-shadow: inset 140px 0 0 0 white;
              color: black;
              text-decoration: none;
            }
            /* SLIDES */

            div#slides {
              display: inline-block;
              width: 100%;
              position: relative;
            }

            #eg-dsk-hp-hero {
              position: absolute;
              z-index: 99;
            }
          </style>

          <div class="cms-container" style="visibility:visible">

            <!-- Hero -->
            <div class="cms-row">
              <div class="cms-full mtl">

                <div id="eg-dsk-hp-hero" style="width:996px;height:500px;">

                  <div id="js-fallback-hero" class="cms-unisex-banner cms-fallback" style="width: 996px; height: 500px; display: block;">
                    <!--
                    <a href="/women/">
                        <div class="cms-half cms-banner-lhs txtLeft">
                            <div class="cms-hero-cta cms-animate">Hàng Nữ ></div>
                        </div>
                    </a>
                    <a href="/men/">
                        <div class="cms-half cms-banner-rhs txtRight">
                            <div class="cms-hero-cta cms-animate">Hàng Nam ></div>
                        </div>
                    </a>
               
            -->


                    <div style="
    padding-top: 350px;
    width: 100%;
position: relative;
">

                      <div style="
      display: inline;
    padding-left: 19%;
    width: 33.33%;
"><a href="https://www.robins.vn/women/" class="btn_home">Hàng Nữ</a></div>
                      <div style="
  display: inline-block;
    width: 33.33%;
    text-align: center;
"><a href="https://www.robins.vn/men/" class="btn_home">Hàng Nam</a></div>
                      <div style="
    display: inline;
    width: 33.33%;
    float: right;
"><a href="https://www.robins.vn/kids/" class="btn_home">Trẻ Em</a></div>
                    </div>

                  </div>

                </div>
              </div>
            </div>

            <div id="slides">
              <img src="assets/20170707-anlac-showroom-Homepage-fix.jpg">
            </div>



            <!-- Skinny -->
            <!-- <div class="cms-row">
        <div class="cms-full mtl">
            <a href="/citibank" target="_blank">
                <div class="cms-sb-container">
                    <div class="cms-sb-full txtCenter cms-animate" style="background:#F2F2F2;">
                        <img src="https://static-cf-vn.thezalora.space/cms/StaticPages/citi_logo-nov.png" style="margin-top:-5px;margin-left:-75px;">
                        <div class="rfloat cms-sb-text" style="margin-right: 215px;margin-left: -280px;">
                            <span style="color:#000" class="txtUpper">
                                Take up to 20% off with Citi Credit Cards
                            </span>
                        </div>
                    </div>
                    <div class="cms-sb-full-width-arrow-tooltip" style="z-index:100">
                    </div>
                    <div class="cms-sb-full-width-tooltip" style="z-index:100">
                        Citi Rewards Card: Extra 20% off + 10x Rewards with 'SHOPCITI20'<br>
                        All Citi Credit Cards: Extra 18% off with code 'SHOPCITI18'<br><br>
                        <b>VIEW T&Cs ></b>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <script>
        $(function () {
            $(".cms-sb-full").mouseenter(function () {
                $(".cms-sb-full-width-tooltip").show(), $(".cms-sb-full-width-arrow-tooltip").show();
            });

            $(".cms-sb-full").mouseleave(function () {
                $(".cms-sb-full-width-tooltip").hide(), $(".cms-sb-full-width-arrow-tooltip").hide();
            });
        });
    </script> -->

            <!-- Brands we love -->
            <div class="cms-row">
              <div class="cms-full mtxxl txtCenter">
                <div class="cms-section-heading">
                  <span>Thương Hiệu Nổi Bật</span>
                </div>
                <div class="cms-spacer-25"></div>
                <div class="cms-spacer-25"></div>
              </div>
              <div id="eg-dsk-hp-featured">
                <div class="cms-full txtCenter cms-top-brands cms-fallback" style="display: block;">
                  <span>
                    <a href="https://www.robins.vn/women/inner-circle/?sort=popularity&amp;dir=desc&amp;category_id=3&amp;brand=inner-circle&amp;from=homepage">
                        <i class="sprite sprite-Inner-Circle"></i>
                    </a>
                </span>
                  <span>
                    <a href="https://www.robins.vn/zilandi/?from=homepage">
                        <i class="sprite sprite-Zilandi"></i>
                    </a>
                </span>
                  <span>
                    <a href="https://www.robins.vn/f-f/?from=homepage">
                        <i class="sprite sprite-F_F"></i>
                    </a>
                </span>
                  <span>
                    <a href="https://www.robins.vn/geox/?from=homepage">
                        <i class="sprite sprite-Geox"></i>
                    </a>
                </span>
                  <span>
                    <a href="https://www.robins.vn/nike/?from=homepage">
                        <i class="sprite sprite-Nike"></i>
                    </a>
                </span>
                </div>
                <div class="cms-full mbxxl txtCenter cms-top-brands cms-fallback" style="display: block;">
                  <span>
                    <a href="https://www.robins.vn/shiseido/?from=homepage">
                        <i class="sprite sprite-Shiseido"></i>
                    </a>
                </span>

                  <span>
                    <a href="https://www.robins.vn/daniel-wellington/?from=homepage">
                        <i class="sprite sprite-DW"></i>
                    </a>
                </span>
                  <span>
                    <a href="https://www.robins.vn/women/lam-dep/laneige/?sort=popularity&amp;dir=desc&amp;category_id=397&amp;brand=laneige&amp;from=homepage">
                        <i class="sprite sprite-Laneige"></i>
                    </a>
                </span>
                  <span>
                    <a href="https://www.robins.vn/supersports-vietnam/?from=homepage">
                        <i class="sprite sprite-Super-Sport"></i>
                    </a>
                </span>
                  <span>
                    <a href="https://www.robins.vn/women/mango/?from=homepage">
                        <i class="sprite sprite-Mango"></i>
                    </a>
                </span>

                </div>
              </div>
            </div>

            <!-- B1-B3 -->
            <div class="cms-row">
              <div class="cms-full txtCenter">
                <div class="cms-section-heading">
                  <span>Không Thể Bỏ Lỡ</span>
                </div>
                <div class="cms-spacer-25"></div>
                <div class="cms-spacer-25"></div>
              </div>
              <div class="cms-full mbxxl cms-top-brands">
                <div id="eg-dsk-hp-row-1-1">
                  <div class="lfloat txtCenter cms-fallback" style="display: block;">
                    <a href="https://www.robins.vn/mobile-apps/">
                        <img data-src="https://static-cf-vn.thezalora.space/cms/20170523-homepage-b1.jpg" width="322" height="300" src="assets/20170523-homepage-b1.jpg">
                    </a>
                    <div class="cms-spacer-35"></div>
                    <div class="cms-hp-b13-headline"><span>Tải miễn phí ROBINS App</span></div>
                    <div class="cms-spacer-15"></div>
                    <p>Trải nghiệm mua sắm trực tuyến tuyệt vời tại ROBINS</p>
                  </div>
                </div>
                <div id="eg-dsk-hp-row-1-2">
                  <div class="lfloat cms-spacer-3grid txtCenter cms-fallback" style="display: block;">
                    <a href="https://www.robins.vn/women/all-products/?sort=latest%20arrival&amp;dir=desc&amp;category_id=&amp;brand=embellish--inner-circle--zilandi&amp;getSKU=IN976AA82ANPVN--ZI808AC24TUXVN--ZI808SH82ARLVN--IN976AA31KPGVN--IN976AA77ANUVN--IN976AA96QSLVN--ZI808AC29TUSVN--ZI808SH79AROVN--IN976AA73QESVN--IN976AA78QENVN--ZI808AC25TUWVN--ZI808SH66ASBVN--IN976AA80ANRVN--ZI808AC23TUYVN--ZI808SH70ARXVN--IN976AA75QEQVN--IN976AA44PUHVN--ZI808AC30TURVN--ZI808SH61ASGVN">
                        <img data-src="https://static-cf-vn.thezalora.space/cms/20170512-HP-B2.jpg" width="322" height="300" src="assets/20170512-HP-B2.jpg">
                    </a>
                    <div class="cms-spacer-35"></div>
                    <div class="cms-hp-b13-headline"><span>Bộ sưu tập độc quyền</span></div>
                    <div class="cms-spacer-15"></div>
                    <p>Cùng ROBINS tôn lên phong cách thời thượng</p>
                  </div>
                </div>
                <div id="eg-dsk-hp-row-1-3">
                  <div class="lfloat cms-spacer-3grid txtCenter cms-fallback" style="display: block;">
                    <a href="https://www.robins.vn/new-products/?from=header">
                        <img data-src="https://static-cf-vn.thezalora.space/cms/20170512-HP-B3.jpg" width="322" height="300" src="assets/20170512-HP-B3.jpg">
                    </a>
                    <div class="cms-spacer-35"></div>
                    <div class="cms-hp-b13-headline"><span>Hàng mới về</span></div>
                    <div class="cms-spacer-15"></div>
                    <p>Đón đầu những xu hướng thời trang mới nhất 2017</p>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!-- Slides -->
          <script src="assets/jquery.slides.min.js.tải xuống"></script>

          <!-- ./ Slides -->

          <script>
            $(function () {
              $(".b-mainBanner").remove();
              //$(".hpBanner").remove();
              $("#Topsellers").remove();
              $("#Brands").remove();

              detectEvergageStatus();
            });

            function fireClickTrackingEvent(eventCategory, eventLabel) {
              eventLabel = getCurrentDate() + "|" + eventLabel;
              ga("send", "event", eventCategory, "Click", eventLabel);
            }

            function fireImpressionTrackingEvent(eventCategory, eventLabel) {
              eventLabel = getCurrentDate() + "|" + eventLabel;
              ga("send", "event", eventCategory, "Impression", eventLabel, { "nonInteraction": 1 });
            }

            function detectEvergageStatus() {
              var timeoutID = window.setTimeout(loadFallback, 1000);
            }

            function automateTracking(placement, eventCategory, eventLabel) {
              $("#js-" + placement + "-banner-tracker").load(function () {
                fireImpressionTrackingEvent(eventCategory, eventLabel);
              });

              $("#js-" + placement + "-tracker").click(function () {
                fireClickTrackingEvent(eventCategory, eventLabel);
              });
            }

            function getCurrentDate() {
              var today = new Date();
              var dd = today.getDate();
              var mm = today.getMonth() + 1; //January is 0!

              var yyyy = today.getFullYear();
              if (dd < 10) {
                dd = "0" + dd
              }
              if (mm < 10) {
                mm = "0" + mm
              }
              var today = yyyy + mm + dd;
              return today;
            }

            function loadFallback() {
              if (!$(".evergage-tooltip").is(":visible")) {

                $('.cms-fallback img').each(function () {
                  this.src = $(this).data('src');
                });

                $(".cms-fallback").show();
                console.log("Loaded Fallback");
              }
              else {
                $(".cms-fallback").remove();
                console.log("Do Not Load Fallback");
              }
            }
          </script>

          <!-- facebook share image -->
          <img src="assets/20170208_HPHero.jpg" width="996" style="display:none;"> </div>
        <div id="index-teaser-banners" class="bannerContainerBackup display-none">
        </div>
        <div class="clear-both"></div>
      </div>
      <div id="cmsLoader" class="display-none"></div>


      <div id="S_e_oText" class="hpS_e_oText fsm">
        <div class="js-cmsInspector" data-cmskey="" style="display:inline;">
          <meta name="majestic-site-verification" content="MJ12_e73b2ddb-9e1f-403e-95ed-bb1aba5aabd5">
          <!-- SEO TEXT -->
          <style>
            .hpS_e_oText {
              margin-top: 20px;
              font-size: 13px;
              margin-left: 5px;
            }

            .hpS_e_oText h1,
            .hpS_e_oText h2 {
              font-size: 13px;
              font-weight: bold;
            }

            #s_e_oleft {
              width: 48%;
              padding-right: 2%;
              text-align: justify;
              float: left;
            }

            #s_e_oright {
              width: 48%;
              float: left;
              text-align: justify;
            }
          </style>
          <div class="hpS_e_oText">
            <div id="s_e_oleft">
              <h1>XU HƯỚNG MUA SẮM ĐA KÊNH MỚI TẠI ROBINS</h1>
              <p>Ngày nay, thế giới thời trang ngày càng phát triển hơn và tầm ảnh hưởng của chúng đối với con người lại ngày
                càng được chú trọng. Một bộ trang phục đẹp không chỉ là quần áo đơn thuần mà nó còn thể hiện lên tính cách,
                phong cách sống, cũng như gu thẩm mỹ thời trang của mỗi cá nhân khi sử dụng. Thêm vào đó, khi quỹ thời gian
                ngày càng eo hẹp bởi những chi phối từ công việc, cuộc sống gia đình thì nhu cầu mua sắm thuận tiện và tiết
                kiệm thời gian đang tăng lên. Từ đó, hình thức mua sắm đa kênh hay còn được nhắc đến với thuật ngữ Omni channel,
                đang là một trong những sự lựa chọn được ưa chuộng nhất hiện nay. Ưu điểm của hình thức này là sự linh hoạt
                khi bạn tìm thấy món đồ yêu thích trên online và muốn đến lấy và thử sản phẩm tại cửa hàng hay khi sản phẩm
                không còn tại cửa hàng, bạn có thể đăng ký mua online và được giao hàng đến tận nhà. Với xu thế <strong>mua sắm trực tuyến</strong>                ngày càng nhiều, Omni Channel gần như sẽ trở thành phương thức được các nhà bán lẻ áp dụng trong tương lai
                bởi độ phủ sóng rộng, chi phí thấp, cũng như hiệu quả mà nó mang lại. Không những vậy, với nguồn hàng hóa
                đa dạng và phong phú, chắc chắn sẽ giúp bạn dễ dàng chọn lựa được cho mình những bộ cánh hợp thời trang và
                lại tôn lên nét cá tính riêng của mình.</p>


              <h2>SỰ RA ĐỜI CỦA ROBINS.VN</h2>
              <p>Thấu hiểu nhu cầu mua sắm ngày càng nâng cao và không ngừng hướng đến mục tiêu cải thiện trải nghiệm shopping
                tại thị trường Việt Nam. Cả hai thương hiệu quyết định hợp nhất để theo đuổi tham vọng đó, đồng thời để phát
                huy những thế mạnh sẵn có của ZALORA và ROBINS. Với khởi đầu là ZALORA.VN – Trang web mua sắm thời trang
                trực tuyến lớn nhất tại Việt Nam chuyên giới thiệu Bộ sưu tập thời trang của hơn 700 các thương hiệu nổi
                tiếng trong nước và trên thế giới. Trong khi đó, ROBINS với gần 200 thương hiệu thuộc 7 ngành hàng khác nhau
                hiện là điểm mua sắm quen thuộc của phần lớn khách hàng và gia đình đang sinh sống và làm việc tại Hà Nội
                và Tp. Hồ Chí Minh. Từ tháng 5/2017, cái tên ROBINS Online được ra đời để mang đến cho khách hàng nhiều tiện
                ích và lựa chọn khi <strong>mua sắm trực tuyến</strong> và tại cửa hàng. Song song đó, website ZALORA.VN
                sẽ thay đổi tên và hình ảnh nhận diện thương hiệu mới là <strong>ROBINS.VN</strong>, nhưng các giá trị cốt
                lõi của ZALORA sẽ vẫn được duy trì với sản phẩm, dịch vụ và quy trình mua sắm không thay đổi. Hãy tham gia
                cùng chúng tôi trong ngôi nhà mới - Robins, tiếp tục mua sắm theo phong cách yêu thích của bạn và cùng đồng
                hành với chúng tôi để có trải nghiệm mua sắm được mở rộng hơn.
              </p>

              <h2>ROBINS.VN – ĐIỂM ĐẾN THÚ VỊ CHO CÁC TÍN ĐỒ YÊU THÍCH THỜI TRANG HÀNG HIỆU</h2>
              <p>Với giao diện website thân thiện cùng nguồn hàng thời trang, làm đẹp đa dạng nhiều kiểu dáng, những sản phẩm
                tại ROBINS.VN hứa hẹn sẽ luôn là điểm đến mua sắm tin cậy của các fashionista nhờ vào sự tiên phong trong
                việc cập nhật các xu hướng <strong>thời trang hàng hiệu</strong> đang hot nhất, cũng như tạo nhiều ưu đãi
                hấp dẫn dành cho các khách hàng khi tham gia mua sắm tại website. Bên cạnh đó, với tiêu chí mang đến cho
                người dùng những trải nghiệm thời trang đẳng cấp nhất, cũng như giúp cho các khách hàng của ROBINS.VN dễ
                dàng tiếp cận được hơn với các xu hướng thời trang, trang <a href="https://magazine.robins.vn/" title="magazine"
                  target="blank">magazine</a>... của ROBINS hứa hẹn sẽ là trang thông tin thú vị dành riêng cho tất cả những
                ai yêu thích thời trang, đặc biệt là các tín đồ làng mốt. Với bước hợp nhất thành ROBINS.VN, danh sách các
                thương hiệu thời trang sẽ được mở rộng để khách hàng có thêm nhiều sự lựa chọn chất lượng, bên cạnh là những
                chương trình ưu đãi hấp dẫn và đội ngũ chăm sóc khách hàng chuyên nghiệp. Đây có thể coi là bước tiến đầu
                tiên của ZALORA Việt Nam và ROBINS với hoài bão trở thành điểm hẹn thời trang lý tưởng nhất tại Việt Nam
                với định nghĩa mua sắm online và offline không còn khoảng cách. Vừa thỏa sức mua sắm thả ga, lại vừa được
                cập nhật cũng như chia sẻ thêm về những thông tin cực hot của làng mốt, chắc chắn bạn sẽ không thể nào bỏ
                lỡ được những trải nghiệm thú vị khi đến với ROBINS.VN.</p>
              .


            </div>
            <div id="s_e_oright">


              <h2>KHÁM PHÁ THỜI TRANG ROBINS VỚI NHỮNG ITEM LUÔN DẪN ĐẦU XU HƯỚNG THỜI TRANG NĂM 2017</h2>
              <p>Tại ROBINS.VN, bạn sẽ dễ dàng tìm được cho mình những mặt hàng thời trang phù hợp với từng nhu cầu cá nhân
                của mỗi người và đặc biệt là luôn bám sát xu hướng thời trang từng mùa. Từ các quý ông bảnh bao, lịch lãm
                đến những quý cô sang chảnh, tự tin với gu thời trang tinh tế, những mẫu thiết kế từ các thương hiệu thời
                trang được bày bán tại ROBINS online đều hoàn toàn đáp ứng được nhu cầu của nhiều đối tượng khác nhau. Không
                những dễ dàng chọn lựa được kiểu dáng, khi mua sắm thời trang tại ROBINS, bạn còn có thể tham khảo cũng như
                so sánh các mức giá khác nhau trong cùng một sản phẩm, đảm bảo cho việc tìm được món đồ mà mình thật sự ưng
                ý nhưng cũng cực kì phù hợp với túi tiền của mình.</p>
              <h2>KHÔNG THỂ BỎ QUA CƠ HỘI MUA SẮM THỜI TRANG ONLINE TẠI ROBINS.VN</h2>
              <p>Việc sở hữu một vẻ ngoài thật sành điệu giờ đây đã không còn là việc quá khó khăn nữa. Chỉ cần tham gia <strong>mua sắm thời trang online</strong>                tại trang web ROBINS.VN, bạn sẽ có thể tìm được ngay cho mình và những người thân yêu những món hàng thời
                trang thật ưng ý với các thương hiệu nổi tiếng như <a href="https://www.robins.vn/lovadova/" title="Lovadova"
                  target="blank">Lovadova</a>,
                <a href="https://www.robins.vn/casways/" title="Casways" target="blank">Casways</a>,
                <a href="https://www.robins.vn/the-stone/" title="The Stone" target="blank">The Stone</a>, <a href="https://www.robins.vn/24-01/"
                  title="24:01" target="blank">24:01</a>,
                <a href="https://www.robins.vn/owen/" title="Owen" target="blank">Owen</a>, <a href="https://www.robins.vn/jeanswest/"
                  title="Jeanswest" target="blank">Jeanswest</a>... Từ trang phục công sở, cho đến trang phục thường ngày,
                thậm chí là dạ tiệc, thể thao,v.v..., bảo đảm những món item thời trang tại ROBINS online đều dẫn đầu xu
                hướng và khiến cho vẻ ngoài của bạn trở nên thu hút, thời thượng hơn bao giờ hết.</p>
              <h2>ROBINS.VN – NƠI BẠN TÌM THẤY CHẤT LƯỢNG VÀ DỊCH VỤ DẪN ĐẦU</h2>
              <p>Tự hào là phát triển từ nền tảng website mua sắm thời trang trực tuyến hàng đầu ZALORA, ROBINS.VN sẽ tiếp tục
                khẳng định vị thế điểm đến shopping của mọi nhà. Ngoài nguồn sản phẩm đa dạng và phong phú, ROBINS online
                luôn luôn đầu tư nâng cấp dịch vụ từ các chính sách hậu mãi, đội ngũ chăm sóc khách hàng chuyên nghiệp, giao
                nhận hàng tận nơi, phương thức thanh toán đa dạng và bảo mật tiền và đặc biệt là chính sách đổi trả sản phẩm
                miễn phí 30 ngày. Chắc chắn, bạn sẽ có được sự yên tâm và hài lòng với sản phẩm chất lượng và dịch vụ trong
                mỗi lần mua sắm tại ROBINS.VN.</p>


            </div>
          </div>
          <!-- ./ SEO TEXT -->
        </div>
      </div>
    </div>
  </div>