<div class="b-catalogList__itm js-catalogList__itm hasOverlay unit size1of3">
    <li class="b-catalogList__itm js-catalogList__itm hasOverlay unit size1of3" id="GR210AA24DULVN">
        <span class="js-catalogList__itmHead"></span>
        <div class="b-catalogList__itmOverlay narrow">
        </div>
        <a class="b-catalogList__itmLink itm-link" href="{{product.refUrl}}">     
        <span class="b-catalogList__itmImageWrapper js-catalogImage js-itm-hover" data-index="1" data-sku="GR210AA24DULVN" style="height: 345px;">
            <img alt="{{product.title}}" class="b-catalogList__itm-img js-itm-img js-itm-hover-img-front" data-src="" height="345" src="{{product.imgUrl}}" style="opacity: 1;" title="product.title" width="236">
            <img class="b-catalogList__itm-img-hover js-itm-hover-img-back" data-src="" height="345" src="{{product.imgUrl}}" width="236">
        </span>
            <span class="b-catalogList__itmSaleFlagPercent">{{product.discount}}% OFF</span>
            <span class="b-catalogList__itmNewFlag"></span>
        <span class="js-catalogList__itmTail"></span>
        <span class="b-catalogList__itmBrand fsm txtDark uc js-catalogProductTitle">Gracy Design</span>
        <em class="b-catalogList__itmTitle fss">
            Váy Ren Hồng Cổ Tim
        </em>
        <span class="b-catalogList__itmPriceBox itm-priceBox fsm txtDark">
                    <span class="b-catalogList__itmPrice old">
                    <span >{{product.price | currency:'VND':true}}</span></span>                            
                <span class="b-catalogList__itmPrice special">
                    <span class="txtUpper">
                        GIẢM CÒN
                    </span>
                    <span><span>{{product.price - (product.price*product.discount)/100 | currency:'VND':true}}</span></span>
                </span>    
                                
        </span>
        <span class="b-catalogList__itmAvailableSizes" id="size_GR210AA24DULVN">
               <span class="b-catalogList__itmSizeLabel">Kích cỡ</span>
               <span class="individual-size" id="{{product.size[0].id}}" size="" url="">{{product.size[0].name}}</span>
               <span class="individual-size" id="{{product.size[1].id}}" size="" url="">{{product.size[1].name}}</span>
               <span class="individual-size" id="{{product.size[2].id}}" size="" url="">{{product.size[2].name}}</span>
               <span class="individual-size" id="{{product.size[3].id}}" size="" url="">{{product.size[3].name}}</span>
        </span>
    </a>
    </li>
</div>