
<div class="zopim" __jx__id="___$_61 ___$_61" data-test-id="ChatWidgetButton" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; padding: 0px; border: 0px; background: transparent; overflow: hidden; position: fixed; z-index: 16000002; width: 215px; height: 30px; right: 10px; bottom: 0px; display: none;">
    <iframe frameborder="0" src="assets/saved_resource.html" style="background-color: transparent; vertical-align: text-bottom; position: relative; width: 100%; height: 100%; min-width: 100%; min-height: 100%; max-width: 100%; max-height: 100%; margin: 0px; overflow: hidden; display: block;"
        data-test-id="ChatWidgetButton-iframe"></iframe>
</div>
<div class="zopim" __jx__id="___$_4 ___$_4" data-test-id="ChatWidgetWindow" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; padding: 0px; border: 0px; background: transparent; overflow: hidden; position: fixed; z-index: 16000001; right: 10px; bottom: 0px; border-top-left-radius: 5px; border-top-right-radius: 5px; display: none; width: 240px; height: 335px; box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 2px;">
    <iframe frameborder="0" src="assets/saved_resource(1).html" data-test-id="ChatWidgetWindow-iframe" style="background-color: transparent; vertical-align: text-bottom; position: relative; width: 100%; height: 100%; min-width: 100%; min-height: 100%; max-width: 100%; max-height: 100%; margin: 0px; overflow: hidden; display: block;"></iframe>
</div>
<script>
    document.body.className = document.body.className.replace('no-js', 'js');
</script>
<script type="text/javascript">
    window.DY = window.DY || {};
    DY.recommendationContext = {
        type: 'OTHER',
        data: []
    };
</script>
<script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-28919878-1', 'auto');
        ga('set', 'contentGroup1', 'account');
        ga('set', 'contentGroup2', 'Main.Main.desktop.account.https://www.robins.vn/customer/account/login.');
        ga('require', 'linkid', 'linkid.js');
        ga('require', 'displayfeatures');
        ga('require', 'ec');
        ga('require', 'linker');
        ga('linker:autoLink', ['.zalora.vn']);

        ga('set', 'dimension8', '');
        ga('set', 'dimension17', '');
        ga('set', 'dimension26', '4');
        ga('set', 'dimension29', 'Other');
        ga('set', 'dimension9', 'Main');


        ga('set', 'dimension6', 'x');



        ga('send', 'pageview', location.pathname + location.search + (location.search.search(/(\&|\?)utm_.*?=/) != -1 ? location.hash : ""));
</script>
<script>
        dataLayer = [{
            'pr_sub_status': '',
            'Site_Language': 'vi',
            'Gender_Category': '',
            'Landingpage_ID': '',
            'Country-Province': 'VN',
            'Page_Type': 'account',
            'Catalog_Type': 'Main',
            'Site_Section': 'Other',
            'Product_Category': '',
            'Product_Subcategory': '',

            'Device_Type': 'PC',
            'Device_OS': 'Windows',
            'Device_Model': '',

            'Customer_Type': '4',
            'Gender_User': '',
            'Year_of_Birth': '',
            'User_ID': '',
            'Zuid': '',
            'First_Visit': '0',
            'Page_Count': '5',
            'Visitor_ID': '1172746865.1499590900',



        }];
</script>
<noscript>
    &lt;iframe src="//www.googletagmanager.com/ns.html?id=GTM-TZCX" height="0" width="0" style="display:none; visibility:hidden"&gt;
    &lt;/iframe&gt;
</noscript>
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TZCX');
</script>
<!-- Google Tag Manager End -->

<!-- TRACKING V2 END  -->
<div id="message-popup">
    <div class="content">
        <div class="js-message popup-message">
        </div>
        <div class="action">
            <button class="js-popup-button btn btn--special"></button>
        </div>
    </div>
</div>
<div id="page" class="l-page">
    <mol-header></mol-header>
    <!-- <mol-sticky-bottom></mol-sticky-bottom> -->
    <mol-collection-menu></mol-collection-menu>
    <mol-list-product></mol-list-product> 
    <mol-footer></mol-footer>
    <mol-box-track-order></mol-box-track-order>
    <div id="boxResultTrackOrder" class="modal"></div>
</div>
<script type="text/javascript" id="">
    var GROUP; GROUP = 0 == google_tag_manager["GTM-TZCX"].macro('gtm1') || 3 == google_tag_manager["GTM-TZCX"].macro('gtm2') || 4 == google_tag_manager["GTM-TZCX"].macro('gtm3') ? "NC" : "EC";
    (function () { var a = document.createElement("script"); a.async = !0; a.src = "" == google_tag_manager["GTM-TZCX"].macro('gtm4') ? "//asia.creativecdn.com/tags?type\x3dscript\x26id\x3dpr_pGqGhVQuB0u59TYLne9a_home\x26id3\x3dpr_pGqGhVQuB0u59TYLne9a_custom_usergroup_" + GROUP : "//asia.creativecdn.com/tags?type\x3dscript\x26id\x3dpr_pGqGhVQuB0u59TYLne9a_home\x26id2\x3dpr_pGqGhVQuB0u59TYLne9a_uid_\x26id3\x3dpr_pGqGhVQuB0u59TYLne9a_custom_usergroup_" + GROUP; document.getElementsByTagName("body")[0].appendChild(a) })();
</script>
<script async="" src="assets/tags"></script>



<script src="assets/alice-vnfas-core-v12555be075c5.js.tải xuống" type="text/javascript"></script>
<script src="assets/alice-vnfas-account-v65d1c95ac0ff.js.tải xuống" type="text/javascript"></script>
<script>
                var preload;

                // if (/*@cc_on!@*/false) { // IE sniffing with conditional comments
                //     preload = function (file) {
                //         new Image().src = file;
                //     };
                // } else {
                preload = function (file) {
                    var obj = document.createElement('object'),
                        body = document.body;

                    obj.height = 0;
                    obj.data = file;
                    body.appendChild(obj);
                };
                // }
                function require(file, callback) {
                    var script = document.getElementsByTagName('script')[0],
                        newjs = document.createElement('script');
                    // IE
                    newjs.onreadystatechange = function () {
                        if (newjs.readyState === 'loaded' || newjs.readyState === 'complete') {
                            newjs.onreadystatechange = null;
                            callback();
                        }
                    };
                    // others
                    newjs.onload = function () {
                        callback();
                    };
                    newjs.src = file;
                    script.parentNode.insertBefore(newjs, script);
                }
                var homepage = homepage || {};

                homepage.detectAdblock = function () {
                    if ($('#advertisment').height() == 0) {
                        $.ajax({
                            "url": '/data/getcms/',
                            "data": { 'route': window.location.pathname, 'names': ['carousel'] },
                            "type": 'post',
                            "dataType": 'json',
                            "cache": false,
                            "success": function (data, status, jqXHR) {

                                $('#index-main-slideshow').html(data.result['slideShow']);
                                $('#index-right-banners').html(data.result['rightBanner']).fadeIn(500);
                                $('#index-teaser-banners').html(data.result['banner']).fadeIn(500);

                                // dont use a cached selector as it is not available in DOM yet
                                require('https://static-cf-vn.thezalora.space/js/local/DFA/latest/dfa_carousel.js', function () {
                                    $('#index-main-slideshow').fadeIn(500);
                                    if ($('.b-mainBanner__slideshow .hpSlideshowSlides').length > 0
                                        && typeof $('.b-mainBanner__slideshow .hpSlideshowSlides').cycle !== 'undefined') {
                                        $('.b-mainBanner__slideshow .hpSlideshowSlides').cycle({
                                            fx: 'fade',
                                            speed: 'slow',
                                            timeout: 5000,
                                            prev: '.hpSlideshow .hpSlideshowControls .ui-buttonPrevSlide',
                                            next: '.hpSlideshow .hpSlideshowControls .ui-buttonNextSlide',
                                            pager: '#Slideshow_numbers'
                                        });
                                    }
                                }); // end of require
                            }

                        });
                    }
                };
</script>
<script>
                if (typeof account !== 'undefined' && typeof account.initialize !== 'undefined') {
                    $(function () {
                        account.initialize(window.store);
                    });
                }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        Zalora.Header.HeaderController.init({ "language": "vi", "countryIso": "VN", "currentPageType": "mainshop", "firstName": null, "lastName": null, "walletBalance": null, "wishlistCount": null, "cartCount": 0, "currentCatalog": null, "currentSegment": null, "cmsLogo": { "flag": false } });

        $("li a.social-sharing").click(function () {
            var $this = $(this), $window = $(window),
                targetUrl = $this.attr("href"),
                network = $this.data('networkid');
            label = $this.data('href');

            if (typeof utag_data != 'undefined' && typeof (utag_data.Product_SKU) != 'undefined'
                && utag_data.Product_SKU != '') {
                label = utag_data.Product_SKU;
            }

            if (typeof (ga) != 'undefined') {
                switch (network) {
                    case 'twitter':
                        ga('send', 'event', 'twitter', 'tweet', label);
                        break;
                    case 'googleplus':
                        ga('send', 'event', 'googleplus', 'plusone', label);
                        break;
                }
            }
            windowWidth = $window.width();
            windowHeight = $window.height();
            alignLeft = (windowWidth - 500) / 2;
            alignTop = (windowHeight - 300) / 2;
            window.open(targetUrl, 'social-network-window', 'height=300,width=500,scrollbars=1,left=' + alignLeft + ',top=' + alignTop);
            return false;
        });


        if (typeof (Zalora) !== 'undefined' && typeof (Zalora.AbandonedFormTracking) !== 'undefined') {
            Zalora.AbandonedFormTracking.initialize();
        }
    });
</script>
<script type="text/javascript">
    var expiration = new Date();
    var minutes = 30;
    expiration.setTime(expiration.getTime() + 1800000);

    document.cookie = 'sessionCount' + '=' + '5' +
        '; path=/; secure; domain=' + '.robins.vn';
    document.cookie = 'pageCount' + '=' + '5' +
        '; expires=' + expiration.toUTCString() + '; path=/; secure; domain=' + '.robins.vn';
</script>
<script type="text/javascript">
        (function (window) {
            var Zalora = window.Zalora || {};
            Zalora.jsStore = Zalora.jsStore || {};
            Zalora.jsStore["country_iso"] = "VN";
            Zalora.jsStore["catalogsorting_tracking"] = 0;
            Zalora.jsStore["pixel_beacon_path"] = "http://pixel.graphite.zalora.com/pixel.gif";
            Zalora.jsStore["pixel_ns"] = "vnfas.live.alice.tracking.";
            Zalora.jsStore["costa_search_suggest_api_version_2"] = 1;
            Zalora.jsStore["costa_spell_check"] = 1;
            Zalora.jsStore["costa_spell_check_with_suggestion"] = 1;
            Zalora.jsStore["catalogtype"] = "Main";
            Zalora.jsStore["currency_format"] = "<span><%=meta.price%> VNĐ</span>";
            Zalora.jsStore["search_suggestion_label"] = "Gợi ý tìm kiếm";
            Zalora.jsStore["product_suggestion_label"] = "Sản phẩm gợi ý";
            Zalora.jsStore["now_label"] = "GIẢM CÒN";
            Zalora.jsStore["in_label"] = "trong";
            Zalora.jsStore["shoptype"] = 1;
            Zalora.jsStore["use_search_throttle"] = 1;
            Zalora.jsStore["search_throttle_value"] = 300;
            Zalora.jsStore["customer_email"] = "";
            Zalora.jsStore["customer_id"] = "";
            Zalora.jsStore["customer_name"] = "";
            Zalora.jsStore["leadtime_feature_enabled"] = 0;
            Zalora.jsStore["abandoned_form_tracking_enabled"] = 1;
            Zalora.jsStore["cdn_url"] = "https://static-cf-vn.thezalora.space";
            Zalora.jsStore["popupSubscription"] = { "showSubscription": false, "delay": 0 };
            Zalora.jsStore["newsletter_link"] = "<a class=\'closePopup\'>Click here</a> to continue shopping.";
            Zalora.jsStore["env"] = "live";
            window.Zalora = Zalora;
            window.store = Zalora.jsStore;
        })(window);
</script>





<iframe src="assets/tags.html" width="1" height="1" scrolling="no" frameborder="0" style="display:none"></iframe>
<script type="text/javascript" id="">
    var google_tag_params = { prodid: "undefined", pagetype: "account", pcat: "" };
</script>
<script type="text/javascript" id="" src="assets/ld.js.tải xuống"></script>
<script type="text/javascript" id="">
    (function (d, e, f, g, a, b, c) { a = window.fbq = function () { a.callMethod ? a.callMethod.apply(a, arguments) : a.queue.push(arguments) }; a.version = "1.0"; a.pixelId = f; a.queue = []; b = d.createElement(e); b.async = !0; b.src = g; c = d.getElementsByTagName(e)[0]; c.parentNode.insertBefore(b, c) })(document, "script", "329322960817329", "//connect.facebook.net/en_US/fbevents.js"); fbq("reportPageView");
</script>

<noscript>&lt;img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=329322960817329&amp;amp;ev=PageView&amp;amp;noscript=1"&gt;
</noscript>


<script type="text/javascript" id="">
    fbq("reportCustomEvent", {
        event: "OTHERPAGE", Page_Type: google_tag_manager["GTM-TZCX"].macro('gtm16'), Gender_Category: google_tag_manager["GTM-TZCX"].macro('gtm17'), Product_Category: google_tag_manager["GTM-TZCX"].macro('gtm18'), Product_Subcategory: google_tag_manager["GTM-TZCX"].macro('gtm19'), Brand: google_tag_manager["GTM-TZCX"].macro('gtm20'), Site_Language: google_tag_manager["GTM-TZCX"].macro('gtm21'), Customer_Type: google_tag_manager["GTM-TZCX"].macro('gtm22'), First_Visit: google_tag_manager["GTM-TZCX"].macro('gtm23'), Product_Name: google_tag_manager["GTM-TZCX"].macro('gtm24'), Product_SKU: google_tag_manager["GTM-TZCX"].macro('gtm25'), Product_Price: google_tag_manager["GTM-TZCX"].macro('gtm26'), Discount: google_tag_manager["GTM-TZCX"].macro('gtm27'), Product_Quantity: google_tag_manager["GTM-TZCX"].macro('gtm28'),
        Number_of_Products: google_tag_manager["GTM-TZCX"].macro('gtm29'), Revenue: google_tag_manager["GTM-TZCX"].macro('gtm30'), Payment_Type: google_tag_manager["GTM-TZCX"].macro('gtm31')
    });
</script>
<script type="text/javascript" id="" src="assets/robins.vn.js.tải xuống"></script>
<script type="text/javascript" id="">
    setTimeout(function () {
        if ("object" == typeof Zopim) {
            var f = function () { Zopim.init("2CDfHljWVNozR3RUMyoJXXmgwl18xdSU", ".zalora.vn"); $zopim.livechat.setOnStatus(function (c) { Zopim.status = c }); setTimeout(function () { "online" == Zopim.status && $zopim.livechat.button.show() }, 1E3) }; (function (c, d) {
                var b = this.zopim = function (a) { b._.push(a) }, a = b.s = c.createElement(d), e = c.getElementsByTagName(d)[0]; b.set = function (a) { b.set._.push(a) }; b._ = []; b.set._ = []; a.async = !0; a.setAttribute("charset", "utf-8"); a.src = "//v2.zopim.com/?2CDfHljWVNozR3RUMyoJXXmgwl18xdSU";
                b.t = +new Date; a.type = "text/javascript"; e.parentNode.insertBefore(a, e); a.onload = f
            })(document, "script")
        }
    }, 6E4);
</script>
<script type="text/javascript" id="">
    (function () { var a = window._aaq || (window._aaq = []), c = "zaloravietnam", d = "vn_web_live"; a.push(["setEvergageAccount", c], ["setDataset", d], ["setUseSiteConfig", !0]); var b = document, a = b.createElement("script"), b = b.getElementsByTagName("script")[0]; a.type = "text/javascript"; a.defer = !0; a.async = !0; a.src = document.location.protocol + "//cdn.evergage.com/beacon/" + c + "/" + d + "/scripts/evergage.min.js"; b.parentNode.insertBefore(a, b) })();
</script>
<div id="fb-root" class=" fb_reset">
    <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
        <div></div>
    </div>
    <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
        <div>
            <!--<iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_https"
                    aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="assets/XBwzv5Yrm_1.html"
                    style="border: none;"></iframe>-->
        </div>
    </div>
</div>
<script type="text/javascript" id="">
    var device; device = "Mobile" == google_tag_manager["GTM-TZCX"].macro('gtm14') || "Tablet" == google_tag_manager["GTM-TZCX"].macro('gtm15') ? "m" : "d"; window.criteo_q = window.criteo_q || []; window.criteo_q.push({ event: "setAccount", account: 5839 }, { event: "setCustomerId", id: "" }, { event: "setSiteType", type: device }, { event: "viewHome" }, { event: "viewHome", user_segment: "4", marked_user: 1 }, { event: "setHashedEmail", email: "" });
</script>
<script type="text/javascript" id="">
    (function () { mailrecipe.update({ userId: google_tag_manager["GTM-TZCX"].macro('gtm32') }) })();
</script>
<div id="criteo-tags-div" style="display: none;">
    <iframe height="0" width="0" src="assets/dis.html" style="display: none;"></iframe>
</div>
<div class="eg-WindowBlurTrigger" style="position: absolute; height: 1px; width: 1px; left: -99999px; overflow: hidden;"></div>